version: "3.9"
services:
    minio:
      image: minio/minio
      ports:
        - "9000:9000"
        - "9001:9001"
      volumes:
        - ./minio_storage:/data
      environment:
       -  MINIO_ROOT_USER=user
       -  MINIO_ROOT_PASSWORD=password
      command: server --console-address ":9001" /data
volumes:
  minio_storage: {}