argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
Django==5.1.1
django-cors-headers==4.4.0
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
importlib_metadata==8.5.0
Markdown==3.7
minio==7.2.9
pycparser==2.22
pycryptodome==3.20.0
PyJWT==2.9.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
zipp==3.20.2
