{% extends "main/master.html" %} {% load static %} {% block content%}

<link rel="stylesheet" href="{% static 'evidences/css/evidences.css'%}" />
<link
  href="https://cdn.datatables.net/v/bs5/dt-1.13.6/r-2.5.0/sc-2.2.0/sp-2.2.0/sl-1.7.0/datatables.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/r-2.5.0/sc-2.2.0/sp-2.2.0/sl-1.7.0/datatables.min.js"></script>
<script src="{% static 'evidences/js/evidences.js'%}"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1439.0.min.js"></script>
<div class="container-fluid">
  <div class="row mt-4 justify-content-center">
    <div
      class="col-6 d-flex align-items-center highlight-toolbar border ps-3 pe-2 py-1"
    >
      <small class="font-monospace text-muted text-uppercase">ACTIONS</small>
      <div class="d-flex ms-auto">
        <a class="nav-link evidence_create" href="#">
          <div class="align-items-center d-flex">
            <i
              class="fas fa-upload icon icon-shape icon-sm shadow border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
            ></i>
            <span class="ms-1">Upload a new evidence</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <table
    id="evidences"
    class="table table-sm table-responsive table-hover"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th>Filename</th>
        <th>OS</th>
        <th>Linked case number</th>
        <th>etag</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <!-- Case creation Modal -->
  <div
    class="modal fade"
    id="modal_evidence_create"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="align-items-center d-flex">
            <i
              class="fas fa-2x fa-upload icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
            ></i>
            <h1 class="modal-title fs-5 p-2" id="modal_case_number">
              Upload a new evidence
            </h1>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="evidence_form">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">OS*</label>
              {{evidence_form.dump_os}}
            </div>
            <div class="mb-3">
              <label class="form-label">Linked case*</label>
              {{evidence_form.dump_linked_case}}
            </div>
            <hr class="horizontal dark mt-0" />
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="file-chooser" />
            </div>
            <div id="form-error" class="text-danger"></div>
          </form>
          <div
            class="d-flex flex-column align-items-center justify-content-center upload-progress d-none"
          >
            <div class="row">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke="cyan"
                xmlns="http://www.w3.org/2000/svg"
              >
                <style>
                  .spinner_7uc5 {
                    animation: spinner_3l8F 0.9s linear infinite;
                    animation-delay: -0.9s;
                  }
                  .spinner_RibN {
                    animation-delay: -0.7s;
                  }
                  .spinner_ZAxd {
                    animation-delay: -0.5s;
                  }
                  @keyframes spinner_3l8F {
                    0%,
                    66.66% {
                      animation-timing-function: cubic-bezier(
                        0.14,
                        0.73,
                        0.34,
                        1
                      );
                      y: 6px;
                      height: 12px;
                    }
                    33.33% {
                      animation-timing-function: cubic-bezier(
                        0.65,
                        0.26,
                        0.82,
                        0.45
                      );
                      y: 1px;
                      height: 22px;
                    }
                  }
                </style>
                <rect
                  class="spinner_7uc5 spinner_ZAxd"
                  x="1"
                  y="6"
                  width="2.8"
                  height="12"
                />
                <rect
                  class="spinner_7uc5 spinner_RibN"
                  x="5.8"
                  y="6"
                  width="2.8"
                  height="12"
                />
                <rect
                  class="spinner_7uc5"
                  x="10.6"
                  y="6"
                  width="2.8"
                  height="12"
                />
                <rect
                  class="spinner_7uc5 spinner_RibN"
                  x="15.4"
                  y="6"
                  width="2.8"
                  height="12"
                />
                <rect
                  class="spinner_7uc5 spinner_ZAxd"
                  x="20.2"
                  y="6"
                  width="2.8"
                  height="12"
                />
              </svg>
            </div>
            <div class="row">
              <code id="upload-progress"></code>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-outline-success" id="upload-button">
            Upload
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Evidence Metadata review Modal -->
  <div
    class="modal placeholder-glow fade modal_evidence_review"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title evidence_info fs-5 placeholder evidence_name">
            Evidence name #X
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body">
              <p class="card-text placeholder evidence_info">
                <span>ETag : </span><span class="evidence_etag">ETAG</span>
              </p>
              <p class="card-text placeholder evidence_info">
                <span>OS : </span><span class="evidence_os">OS</span>
              </p>
              <p class="card-text placeholder evidence_info">
                <span>Analysis status : </span
                ><span class="evidence_status"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="review_evidence"
            class="evidence_info btn btn-sm btn-outline-success placeholder"
          >
            Review
          </button>
          <button
            type="button"
            id="delete_evidence"
            class="evidence_info btn btn-sm btn-outline-danger placeholder"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Evidence "are you sure" Modal -->
  <div
    class="modal placeholder-glow fade modal_evidence_delete"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1
            class="modal-title evidence_info fs-5 placeholder evidence_name"
          ></h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          You are about to delete the evidence, the memory image will also be
          delete from the bucket. Are you sure ?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="delete_evidence_confirmed"
            class="evidence_info btn btn-sm btn-outline-danger placeholder"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content%}
