:root {
  --bs-blue: #4e73df;
  --bs-indigo: #6610f2;
  --bs-purple: #A882DD;
  --bs-pink: #e83e8c;
  --bs-red: #e74a3b;
  --bs-orange: #fd7e14;
  --bs-yellow: #f6c23e;
  --bs-green: #1cc88a;
  --bs-teal: #20c9a6;
  --bs-cyan: #36b9cc;
  --bs-white: #fff;
  --bs-gray: #858796;
  --bs-gray-dark: #5a5c69;
  --bs-gray-100: #f8f9fc;
  --bs-gray-200: #eaecf4;
  --bs-gray-300: #dddfeb;
  --bs-gray-400: #d1d3e2;
  --bs-gray-500: #b7b9cc;
  --bs-gray-600: #858796;
  --bs-gray-700: #6e707e;
  --bs-gray-800: #5a5c69;
  --bs-gray-900: #3a3b45;
  --bs-primary: #4e73df;
  --bs-secondary: #858796;
  --bs-success: #1cc88a;
  --bs-info: #36b9cc;
  --bs-warning: #f6c23e;
  --bs-danger: #d683a1;
  --bs-light: #f8f9fc;
  --bs-dark: #172A3A;
  --bs-primary-rgb: #172A3A;
  --bs-secondary-rgb: #F9F5FF;
  --bs-success-rgb: #09BC8A;
  --bs-info-rgb: 54, 185, 204;
  --bs-warning-rgb: 246, 194, 62;
  --bs-danger-rgb: 231, 74, 59;
  --bs-light-rgb: 248, 249, 252;
  --bs-dark-rgb: 58, 59, 69;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 133, 135, 150;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: var(--bs-body-bg);
  --bs-body-bg: #fff;
}
.container, .container-fluid {
  display: none;
}

.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.invest-header {
  font-size: 13px;
}

.invest-cell {
  text-decoration: none;
  border-bottom: var(--bs-light);
}

.invest-cell:hover {
  background-color: var(--bs-dark);
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar2 {
  width: 500px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -1000px;
  z-index: 999;
  background: var(--bs-dark);
  color: #fff;
  transition: all .5s;
  box-shadow: 3px 0px 10px rgba(0,0,0,0.5);
  text-align: left;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  z-index: 998;
  opacity: 0;
}

.overlay.active {
  display: block;
  opacity: 1;
}

.dismiss {
  font-size: 26px;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all .3s;
  background: #444;
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
}

.dismiss:hover, .dismiss:focus {
  background: #555;
  color: #fff;
}

.sidebar2 .brand {
  padding: 40px 20px;
  border-bottom: 1px solid #444;
}

.sidebar2.active {
  right: 0;
}
.invest-cell{
  color: var(--bs-body-bg);
  background: rgba(58,59,69,0);
}

.invest-table-header{
  color: var(--bs-body-bg);
  background: var(--bs-gray-900);
}

.sidebar-text {
  font-size: 12px;
}

.invest-card-link {
  text-decoration: none;
}

.invest-card:hover {
  transform: scale(1.05);
}

.invest-card {
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.search-bar {
  height: 25px;
  font-size: 12px;
}

.hash {
  font-size: 12px;
}

.p_info {
  font-size: 13px;
}

tbody tr:hover {
  background-color: var(--bs-dark);
  color: var(--bs-pink);
}

thead, tbody {
  color: var(--bs-white);
}

.spinner-main {
  z-index: 2;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  stroke: #fff;
}

.spinner-review {
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 60%;
  margin: -25px 0 0 -25px;
}


.open-menu {
  padding-top: 10px;
  padding-bottom: 10px;
}

.spinner-invest {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 60%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  stroke: #fff;
}


.toast-proc-success{
  background-color: var(--bs-green);
}

.toast-proc-info{
    background-color: var(--bs-primary);
}

.toast-proc-failed{
    background-color: var(--bs-danger);
}

.tab-pane.fade {
  transition: all 0.3s;
  transform: translateY(1rem);
}

.tab-pane.fade.show {
  transform: translateY(0rem);
}

/***************************************************
VOLWEB.SVG ANIMATION
 **************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 378.464111328125px;
    stroke-dasharray: 378.464111328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 378.464111328125px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 378.464111328125px;
    stroke-dasharray: 378.464111328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 378.464111328125px;
  }
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 0.01s ease 0s both, animate-svg-fill-1 1s linear 0.01s both;
          animation: animate-svg-stroke-1 0.01s ease 0s both, animate-svg-fill-1 1s linear 0.01s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 921.923828125px;
    stroke-dasharray: 921.923828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 921.923828125px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 921.923828125px;
    stroke-dasharray: 921.923828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 921.923828125px;
  }
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 0.01s ease 0.01s both,
                       animate-svg-fill-2 1s linear 0.02s both;
          animation: animate-svg-stroke-2 0.01s ease 0.01s both,
               animate-svg-fill-2 1s linear 0.02s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 360.4976806640625px;
    stroke-dasharray: 360.4976806640625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 360.4976806640625px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 360.4976806640625px;
    stroke-dasharray: 360.4976806640625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 360.4976806640625px;
  }
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 0.01s ease 0.02s both,
                       animate-svg-fill-3 1s linear 0.03s both;
          animation: animate-svg-stroke-3 0.01s ease 0.02s both,
               animate-svg-fill-3 1s linear 0.03s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 516.2115478515625px;
    stroke-dasharray: 516.2115478515625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 516.2115478515625px;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 516.2115478515625px;
    stroke-dasharray: 516.2115478515625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 516.2115478515625px;
  }
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 0.01s ease 0.03s both,
                       animate-svg-fill-4 1s linear 0.04s both;
          animation: animate-svg-stroke-4 0.01s ease 0.03s both,
               animate-svg-fill-4 1s linear 0.04s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 1035.7356516593145px;
    stroke-dasharray: 1035.7356516593145px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1035.7356516593145px;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 1035.7356516593145px;
    stroke-dasharray: 1035.7356516593145px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1035.7356516593145px;
  }
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 0.01s ease 0.04s both,
                       animate-svg-fill-5 1s linear 0.05s both;
          animation: animate-svg-stroke-5 0.01s ease 0.04s both,
               animate-svg-fill-5 1s linear 0.05s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 709.0675048828125px;
    stroke-dasharray: 709.0675048828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 709.0675048828125px;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 709.0675048828125px;
    stroke-dasharray: 709.0675048828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 709.0675048828125px;
  }
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 0.01s ease 0.05s both,
                       animate-svg-fill-6 1s linear 0.060000000000000005s both;
          animation: animate-svg-stroke-6 0.01s ease 0.05s both,
               animate-svg-fill-6 1s linear 0.060000000000000005s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 360.4976806640625px;
    stroke-dasharray: 360.4976806640625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 360.4976806640625px;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 360.4976806640625px;
    stroke-dasharray: 360.4976806640625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 360.4976806640625px;
  }
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 0.01s ease 0.06s both,
                       animate-svg-fill-7 1s linear 0.06999999999999999s both;
          animation: animate-svg-stroke-7 0.01s ease 0.06s both,
               animate-svg-fill-7 1s linear 0.06999999999999999s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 1035.7356516593145px;
    stroke-dasharray: 1035.7356516593145px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1035.7356516593145px;
  }
}

@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 1035.7356516593145px;
    stroke-dasharray: 1035.7356516593145px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1035.7356516593145px;
  }
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-stroke-8 0.01s ease 0.07s both,
                       animate-svg-fill-8 1s linear 0.08s both;
          animation: animate-svg-stroke-8 0.01s ease 0.07s both,
               animate-svg-fill-8 1s linear 0.08s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 1082.08984375px;
    stroke-dasharray: 1082.08984375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1082.08984375px;
  }
}

@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 1082.08984375px;
    stroke-dasharray: 1082.08984375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1082.08984375px;
  }
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(4, 7, 1);
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(4, 7, 1);
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-stroke-9 0.01s ease 0.08s both,
                       animate-svg-fill-9 1s linear 0.09s both;
          animation: animate-svg-stroke-9 0.01s ease 0.08s both,
               animate-svg-fill-9 1s linear 0.09s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 425.1651611328125px;
    stroke-dasharray: 425.1651611328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 425.1651611328125px;
  }
}

@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 425.1651611328125px;
    stroke-dasharray: 425.1651611328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 425.1651611328125px;
  }
}

@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-stroke-10 0.01s ease 0.09s both,
                       animate-svg-fill-10 1s linear 0.09999999999999999s both;
          animation: animate-svg-stroke-10 0.01s ease 0.09s both,
               animate-svg-fill-10 1s linear 0.09999999999999999s both;
}

@-webkit-keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 160.83721923828125px;
    stroke-dasharray: 160.83721923828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 160.83721923828125px;
  }
}

@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 160.83721923828125px;
    stroke-dasharray: 160.83721923828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 160.83721923828125px;
  }
}

.svg-elem-11 {
  -webkit-animation: animate-svg-stroke-11 0.01s ease 0.1s both,
                       animate-svg-fill-11 1s linear 0.11s both;
          animation: animate-svg-stroke-11 0.01s ease 0.1s both,
               animate-svg-fill-11 1s linear 0.11s both;
}

@-webkit-keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 44.01084408757194px;
    stroke-dasharray: 44.01084408757194px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 44.01084408757194px;
  }
}

@keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 44.01084408757194px;
    stroke-dasharray: 44.01084408757194px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 44.01084408757194px;
  }
}

@-webkit-keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#linearGradient6153");
  }
}

@keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#linearGradient6153");
  }
}

.svg-elem-12 {
  -webkit-animation: animate-svg-stroke-12 0.01s ease 0.11s both,
                       animate-svg-fill-12 1s linear 0.12s both;
          animation: animate-svg-stroke-12 0.01s ease 0.11s both,
               animate-svg-fill-12 1s linear 0.12s both;
}

@-webkit-keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 22.807418823242188px;
    stroke-dasharray: 22.807418823242188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 22.807418823242188px;
  }
}

@keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 22.807418823242188px;
    stroke-dasharray: 22.807418823242188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 22.807418823242188px;
  }
}

.svg-elem-13 {
  -webkit-animation: animate-svg-stroke-13 0.01s ease 0.12s both,
                       animate-svg-fill-13 1s linear 0.13s both;
          animation: animate-svg-stroke-13 0.01s ease 0.12s both,
               animate-svg-fill-13 1s linear 0.13s both;
}

@-webkit-keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 22.807418823242188px;
    stroke-dasharray: 22.807418823242188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 22.807418823242188px;
  }
}

@keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 22.807418823242188px;
    stroke-dasharray: 22.807418823242188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 22.807418823242188px;
  }
}

.svg-elem-14 {
  -webkit-animation: animate-svg-stroke-14 0.01s ease 0.13s both,
                       animate-svg-fill-14 1s linear 0.14s both;
          animation: animate-svg-stroke-14 0.01s ease 0.13s both,
               animate-svg-fill-14 1s linear 0.14s both;
}

@-webkit-keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 22.807418823242188px;
    stroke-dasharray: 22.807418823242188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 22.807418823242188px;
  }
}

@keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 22.807418823242188px;
    stroke-dasharray: 22.807418823242188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 22.807418823242188px;
  }
}

.svg-elem-15 {
  -webkit-animation: animate-svg-stroke-15 0.01s ease 0.14s both,
                       animate-svg-fill-15 1s linear 0.15000000000000002s both;
          animation: animate-svg-stroke-15 0.01s ease 0.14s both,
               animate-svg-fill-15 1s linear 0.15000000000000002s both;
}

@-webkit-keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 22.807418823242188px;
    stroke-dasharray: 22.807418823242188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 22.807418823242188px;
  }
}

@keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 22.807418823242188px;
    stroke-dasharray: 22.807418823242188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 22.807418823242188px;
  }
}

.svg-elem-16 {
  -webkit-animation: animate-svg-stroke-16 0.01s ease 0.15s both,
                       animate-svg-fill-16 1s linear 0.16s both;
          animation: animate-svg-stroke-16 0.01s ease 0.15s both,
               animate-svg-fill-16 1s linear 0.16s both;
}

@-webkit-keyframes animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 414.9757995605469px;
    stroke-dasharray: 414.9757995605469px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 414.9757995605469px;
  }
}

@keyframes animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 414.9757995605469px;
    stroke-dasharray: 414.9757995605469px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 414.9757995605469px;
  }
}

@-webkit-keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-17 {
  -webkit-animation: animate-svg-stroke-17 0.01s ease 0.16s both,
                       animate-svg-fill-17 1s linear 0.17s both;
          animation: animate-svg-stroke-17 0.01s ease 0.16s both,
               animate-svg-fill-17 1s linear 0.17s both;
}

@-webkit-keyframes animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

@keyframes animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

.svg-elem-18 {
  -webkit-animation: animate-svg-stroke-18 0.01s ease 0.17s both,
                       animate-svg-fill-18 1s linear 0.18000000000000002s both;
          animation: animate-svg-stroke-18 0.01s ease 0.17s both,
               animate-svg-fill-18 1s linear 0.18000000000000002s both;
}

@-webkit-keyframes animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

@keyframes animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

.svg-elem-19 {
  -webkit-animation: animate-svg-stroke-19 0.01s ease 0.18s both,
                       animate-svg-fill-19 1s linear 0.19s both;
          animation: animate-svg-stroke-19 0.01s ease 0.18s both,
               animate-svg-fill-19 1s linear 0.19s both;
}

@-webkit-keyframes animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

@keyframes animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

.svg-elem-20 {
  -webkit-animation: animate-svg-stroke-20 0.01s ease 0.19s both,
                       animate-svg-fill-20 1s linear 0.2s both;
          animation: animate-svg-stroke-20 0.01s ease 0.19s both,
               animate-svg-fill-20 1s linear 0.2s both;
}

@-webkit-keyframes animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

@keyframes animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

.svg-elem-21 {
  -webkit-animation: animate-svg-stroke-21 0.01s ease 0.2s both,
                       animate-svg-fill-21 1s linear 0.21000000000000002s both;
          animation: animate-svg-stroke-21 0.01s ease 0.2s both,
               animate-svg-fill-21 1s linear 0.21000000000000002s both;
}

@-webkit-keyframes animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

@keyframes animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

.svg-elem-22 {
  -webkit-animation: animate-svg-stroke-22 0.01s ease 0.21s both,
                       animate-svg-fill-22 1s linear 0.22s both;
          animation: animate-svg-stroke-22 0.01s ease 0.21s both,
               animate-svg-fill-22 1s linear 0.22s both;
}

@-webkit-keyframes animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

@keyframes animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

.svg-elem-23 {
  -webkit-animation: animate-svg-stroke-23 0.01s ease 0.22s both,
                       animate-svg-fill-23 1s linear 0.23s both;
          animation: animate-svg-stroke-23 0.01s ease 0.22s both,
               animate-svg-fill-23 1s linear 0.23s both;
}

@-webkit-keyframes animate-svg-stroke-24 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

@keyframes animate-svg-stroke-24 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

.svg-elem-24 {
  -webkit-animation: animate-svg-stroke-24 0.01s ease 0.23s both,
                       animate-svg-fill-24 1s linear 0.24000000000000002s both;
          animation: animate-svg-stroke-24 0.01s ease 0.23s both,
               animate-svg-fill-24 1s linear 0.24000000000000002s both;
}

@-webkit-keyframes animate-svg-stroke-25 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

@keyframes animate-svg-stroke-25 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

.svg-elem-25 {
  -webkit-animation: animate-svg-stroke-25 0.01s ease 0.24s both,
                       animate-svg-fill-25 1s linear 0.25s both;
          animation: animate-svg-stroke-25 0.01s ease 0.24s both,
               animate-svg-fill-25 1s linear 0.25s both;
}

@-webkit-keyframes animate-svg-stroke-26 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

@keyframes animate-svg-stroke-26 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

.svg-elem-26 {
  -webkit-animation: animate-svg-stroke-26 0.01s ease 0.25s both,
                       animate-svg-fill-26 1s linear 0.26s both;
          animation: animate-svg-stroke-26 0.01s ease 0.25s both,
               animate-svg-fill-26 1s linear 0.26s both;
}

@-webkit-keyframes animate-svg-stroke-27 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

@keyframes animate-svg-stroke-27 {
  0% {
    stroke-dashoffset: 33.76725769042969px;
    stroke-dasharray: 33.76725769042969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.76725769042969px;
  }
}

.svg-elem-27 {
  -webkit-animation: animate-svg-stroke-27 0.01s ease 0.26s both,
                       animate-svg-fill-27 1s linear 0.27s both;
          animation: animate-svg-stroke-27 0.01s ease 0.26s both,
               animate-svg-fill-27 1s linear 0.27s both;
}

@-webkit-keyframes animate-svg-stroke-28 {
  0% {
    stroke-dashoffset: 351.4412841796875px;
    stroke-dasharray: 351.4412841796875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 351.4412841796875px;
  }
}

@keyframes animate-svg-stroke-28 {
  0% {
    stroke-dashoffset: 351.4412841796875px;
    stroke-dasharray: 351.4412841796875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 351.4412841796875px;
  }
}

@-webkit-keyframes animate-svg-fill-28 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-28 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-28 {
  -webkit-animation: animate-svg-stroke-28 0.01s ease 0.27s both,
                       animate-svg-fill-28 1s linear 0.28s both;
          animation: animate-svg-stroke-28 0.01s ease 0.27s both,
               animate-svg-fill-28 1s linear 0.28s both;
}

@-webkit-keyframes animate-svg-stroke-29 {
  0% {
    stroke-dashoffset: 192.6041259765625px;
    stroke-dasharray: 192.6041259765625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 192.6041259765625px;
  }
}

@keyframes animate-svg-stroke-29 {
  0% {
    stroke-dashoffset: 192.6041259765625px;
    stroke-dasharray: 192.6041259765625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 192.6041259765625px;
  }
}

@-webkit-keyframes animate-svg-fill-29 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-29 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-29 {
  -webkit-animation: animate-svg-stroke-29 0.01s ease 0.28s both,
                       animate-svg-fill-29 1s linear 0.29000000000000004s both;
          animation: animate-svg-stroke-29 0.01s ease 0.28s both,
               animate-svg-fill-29 1s linear 0.29000000000000004s both;
}

@-webkit-keyframes animate-svg-stroke-30 {
  0% {
    stroke-dashoffset: 224.37185668945312px;
    stroke-dasharray: 224.37185668945312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 224.37185668945312px;
  }
}

@keyframes animate-svg-stroke-30 {
  0% {
    stroke-dashoffset: 224.37185668945312px;
    stroke-dasharray: 224.37185668945312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 224.37185668945312px;
  }
}

@-webkit-keyframes animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-30 {
  -webkit-animation: animate-svg-stroke-30 0.01s ease 0.29s both,
                       animate-svg-fill-30 1s linear 0.3s both;
          animation: animate-svg-stroke-30 0.01s ease 0.29s both,
               animate-svg-fill-30 1s linear 0.3s both;
}

@-webkit-keyframes animate-svg-stroke-31 {
  0% {
    stroke-dashoffset: 129.06912231445312px;
    stroke-dasharray: 129.06912231445312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 129.06912231445312px;
  }
}

@keyframes animate-svg-stroke-31 {
  0% {
    stroke-dashoffset: 129.06912231445312px;
    stroke-dasharray: 129.06912231445312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 129.06912231445312px;
  }
}

@-webkit-keyframes animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-31 {
  -webkit-animation: animate-svg-stroke-31 0.01s ease 0.3s both,
                       animate-svg-fill-31 1s linear 0.31s both;
          animation: animate-svg-stroke-31 0.01s ease 0.3s both,
               animate-svg-fill-31 1s linear 0.31s both;
}

@-webkit-keyframes animate-svg-stroke-32 {
  0% {
    stroke-dashoffset: 97.30198669433594px;
    stroke-dasharray: 97.30198669433594px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 97.30198669433594px;
  }
}

@keyframes animate-svg-stroke-32 {
  0% {
    stroke-dashoffset: 97.30198669433594px;
    stroke-dasharray: 97.30198669433594px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 97.30198669433594px;
  }
}

@-webkit-keyframes animate-svg-fill-32 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-32 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-32 {
  -webkit-animation: animate-svg-stroke-32 0.01s ease 0.31s both,
                       animate-svg-fill-32 1s linear 0.32s both;
          animation: animate-svg-stroke-32 0.01s ease 0.31s both,
               animate-svg-fill-32 1s linear 0.32s both;
}

@-webkit-keyframes animate-svg-stroke-33 {
  0% {
    stroke-dashoffset: 97.30198669433594px;
    stroke-dasharray: 97.30198669433594px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 97.30198669433594px;
  }
}

@keyframes animate-svg-stroke-33 {
  0% {
    stroke-dashoffset: 97.30198669433594px;
    stroke-dasharray: 97.30198669433594px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 97.30198669433594px;
  }
}

@-webkit-keyframes animate-svg-fill-33 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-33 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-33 {
  -webkit-animation: animate-svg-stroke-33 0.01s ease 0.32s both,
                       animate-svg-fill-33 1s linear 0.33s both;
          animation: animate-svg-stroke-33 0.01s ease 0.32s both,
               animate-svg-fill-33 1s linear 0.33s both;
}

@-webkit-keyframes animate-svg-stroke-34 {
  0% {
    stroke-dashoffset: 113.18609619140625px;
    stroke-dasharray: 113.18609619140625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 113.18609619140625px;
  }
}

@keyframes animate-svg-stroke-34 {
  0% {
    stroke-dashoffset: 113.18609619140625px;
    stroke-dasharray: 113.18609619140625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 113.18609619140625px;
  }
}

.svg-elem-34 {
  -webkit-animation: animate-svg-stroke-34 0.01s ease 0.33s both,
                       animate-svg-fill-34 1s linear 0.34s both;
          animation: animate-svg-stroke-34 0.01s ease 0.33s both,
               animate-svg-fill-34 1s linear 0.34s both;
}

@-webkit-keyframes animate-svg-stroke-35 {
  0% {
    stroke-dashoffset: 97.30227661132812px;
    stroke-dasharray: 97.30227661132812px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 97.30227661132812px;
  }
}

@keyframes animate-svg-stroke-35 {
  0% {
    stroke-dashoffset: 97.30227661132812px;
    stroke-dasharray: 97.30227661132812px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 97.30227661132812px;
  }
}

.svg-elem-35 {
  -webkit-animation: animate-svg-stroke-35 0.01s ease 0.34s both,
                       animate-svg-fill-35 1s linear 0.35000000000000003s both;
          animation: animate-svg-stroke-35 0.01s ease 0.34s both,
               animate-svg-fill-35 1s linear 0.35000000000000003s both;
}

@-webkit-keyframes animate-svg-stroke-36 {
  0% {
    stroke-dashoffset: 44.01084408757194px;
    stroke-dasharray: 44.01084408757194px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 44.01084408757194px;
  }
}

@keyframes animate-svg-stroke-36 {
  0% {
    stroke-dashoffset: 44.01084408757194px;
    stroke-dasharray: 44.01084408757194px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 44.01084408757194px;
  }
}

@-webkit-keyframes animate-svg-fill-36 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#linearGradient6165");
  }
}

@keyframes animate-svg-fill-36 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#linearGradient6165");
  }
}

.svg-elem-36 {
  -webkit-animation: animate-svg-stroke-36 0.01s ease 0.35000000000000003s both,
                       animate-svg-fill-36 1s linear 0.36000000000000004s both;
          animation: animate-svg-stroke-36 0.01s ease 0.35000000000000003s both,
               animate-svg-fill-36 1s linear 0.36000000000000004s both;
}

@-webkit-keyframes animate-svg-stroke-37 {
  0% {
    stroke-dashoffset: 510.27734375px;
    stroke-dasharray: 510.27734375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 510.27734375px;
  }
}

@keyframes animate-svg-stroke-37 {
  0% {
    stroke-dashoffset: 510.27734375px;
    stroke-dasharray: 510.27734375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 510.27734375px;
  }
}

@-webkit-keyframes animate-svg-fill-37 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 252, 254);
  }
}

@keyframes animate-svg-fill-37 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 252, 254);
  }
}

.svg-elem-37 {
  -webkit-animation: animate-svg-stroke-37 0.01s ease 0.36s both,
                       animate-svg-fill-37 1s linear 0.37s both;
          animation: animate-svg-stroke-37 0.01s ease 0.36s both,
               animate-svg-fill-37 1s linear 0.37s both;
}

@-webkit-keyframes animate-svg-stroke-38 {
  0% {
    stroke-dashoffset: 351.44073486328125px;
    stroke-dasharray: 351.44073486328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 351.44073486328125px;
  }
}

@keyframes animate-svg-stroke-38 {
  0% {
    stroke-dashoffset: 351.44073486328125px;
    stroke-dasharray: 351.44073486328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 351.44073486328125px;
  }
}

@-webkit-keyframes animate-svg-fill-38 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 252, 254);
  }
}

@keyframes animate-svg-fill-38 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 252, 254);
  }
}

.svg-elem-38 {
  -webkit-animation: animate-svg-stroke-38 0.01s ease 0.37s both,
                       animate-svg-fill-38 1s linear 0.38s both;
          animation: animate-svg-stroke-38 0.01s ease 0.37s both,
               animate-svg-fill-38 1s linear 0.38s both;
}

@-webkit-keyframes animate-svg-stroke-39 {
  0% {
    stroke-dashoffset: 81.417724609375px;
    stroke-dasharray: 81.417724609375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 81.417724609375px;
  }
}

@keyframes animate-svg-stroke-39 {
  0% {
    stroke-dashoffset: 81.417724609375px;
    stroke-dasharray: 81.417724609375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 81.417724609375px;
  }
}

@-webkit-keyframes animate-svg-fill-39 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 252, 254);
  }
}

@keyframes animate-svg-fill-39 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 252, 254);
  }
}

.svg-elem-39 {
  -webkit-animation: animate-svg-stroke-39 0.01s ease 0.38s both,
                       animate-svg-fill-39 1s linear 0.39s both;
          animation: animate-svg-stroke-39 0.01s ease 0.38s both,
               animate-svg-fill-39 1s linear 0.39s both;
}

@-webkit-keyframes animate-svg-stroke-40 {
  0% {
    stroke-dashoffset: 97.30261993408203px;
    stroke-dasharray: 97.30261993408203px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 97.30261993408203px;
  }
}

@keyframes animate-svg-stroke-40 {
  0% {
    stroke-dashoffset: 97.30261993408203px;
    stroke-dasharray: 97.30261993408203px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 97.30261993408203px;
  }
}

@-webkit-keyframes animate-svg-fill-40 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 252, 254);
  }
}

@keyframes animate-svg-fill-40 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 252, 254);
  }
}

.svg-elem-40 {
  -webkit-animation: animate-svg-stroke-40 0.01s ease 0.39s both,
                       animate-svg-fill-40 1s linear 0.4s both;
          animation: animate-svg-stroke-40 0.01s ease 0.39s both,
               animate-svg-fill-40 1s linear 0.4s both;
}

@-webkit-keyframes animate-svg-stroke-41 {
  0% {
    stroke-dashoffset: 129.06975555419922px;
    stroke-dasharray: 129.06975555419922px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 129.06975555419922px;
  }
}

@keyframes animate-svg-stroke-41 {
  0% {
    stroke-dashoffset: 129.06975555419922px;
    stroke-dasharray: 129.06975555419922px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 129.06975555419922px;
  }
}

@-webkit-keyframes animate-svg-fill-41 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 252, 254);
  }
}

@keyframes animate-svg-fill-41 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 252, 254);
  }
}

.svg-elem-41 {
  -webkit-animation: animate-svg-stroke-41 0.01s ease 0.4s both,
                       animate-svg-fill-41 1s linear 0.41000000000000003s both;
          animation: animate-svg-stroke-41 0.01s ease 0.4s both,
               animate-svg-fill-41 1s linear 0.41000000000000003s both;
}

@-webkit-keyframes animate-svg-stroke-42 {
  0% {
    stroke-dashoffset: 81.41837310791016px;
    stroke-dasharray: 81.41837310791016px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 81.41837310791016px;
  }
}

@keyframes animate-svg-stroke-42 {
  0% {
    stroke-dashoffset: 81.41837310791016px;
    stroke-dasharray: 81.41837310791016px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 81.41837310791016px;
  }
}

@-webkit-keyframes animate-svg-fill-42 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-42 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-42 {
  -webkit-animation: animate-svg-stroke-42 0.01s ease 0.41000000000000003s both,
                       animate-svg-fill-42 1s linear 0.42000000000000004s both;
          animation: animate-svg-stroke-42 0.01s ease 0.41000000000000003s both,
               animate-svg-fill-42 1s linear 0.42000000000000004s both;
}

@-webkit-keyframes animate-svg-stroke-43 {
  0% {
    stroke-dashoffset: 1059.434814453125px;
    stroke-dasharray: 1059.434814453125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1059.434814453125px;
  }
}

@keyframes animate-svg-stroke-43 {
  0% {
    stroke-dashoffset: 1059.434814453125px;
    stroke-dasharray: 1059.434814453125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1059.434814453125px;
  }
}

@-webkit-keyframes animate-svg-fill-43 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#linearGradient6355");
  }
}

@keyframes animate-svg-fill-43 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#linearGradient6355");
  }
}

.svg-elem-43 {
  -webkit-animation: animate-svg-stroke-43 0.01s ease 0.42s both,
                       animate-svg-fill-43 1s linear 0.43s both;
          animation: animate-svg-stroke-43 0.01s ease 0.42s both,
               animate-svg-fill-43 1s linear 0.43s both;
}

@-webkit-keyframes animate-svg-stroke-44 {
  0% {
    stroke-dashoffset: 1032.6536865234375px;
    stroke-dasharray: 1032.6536865234375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1032.6536865234375px;
  }
}

@keyframes animate-svg-stroke-44 {
  0% {
    stroke-dashoffset: 1032.6536865234375px;
    stroke-dasharray: 1032.6536865234375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1032.6536865234375px;
  }
}

@-webkit-keyframes animate-svg-fill-44 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#linearGradient6183");
  }
}

@keyframes animate-svg-fill-44 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#linearGradient6183");
  }
}

.svg-elem-44 {
  -webkit-animation: animate-svg-stroke-44 0.01s ease 0.43s both,
                       animate-svg-fill-44 1s linear 0.44s both;
          animation: animate-svg-stroke-44 0.01s ease 0.43s both,
               animate-svg-fill-44 1s linear 0.44s both;
}

@-webkit-keyframes animate-svg-stroke-45 {
  0% {
    stroke-dashoffset: 1039.7447509765625px;
    stroke-dasharray: 1039.7447509765625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1039.7447509765625px;
  }
}

@keyframes animate-svg-stroke-45 {
  0% {
    stroke-dashoffset: 1039.7447509765625px;
    stroke-dasharray: 1039.7447509765625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1039.7447509765625px;
  }
}

@-webkit-keyframes animate-svg-fill-45 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 1, 1);
  }
}

@keyframes animate-svg-fill-45 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 1, 1);
  }
}

.svg-elem-45 {
  -webkit-animation: animate-svg-stroke-45 0.01s ease 0.44s both,
                       animate-svg-fill-45 1s linear 0.45s both;
          animation: animate-svg-stroke-45 0.01s ease 0.44s both,
               animate-svg-fill-45 1s linear 0.45s both;
}

@-webkit-keyframes animate-svg-stroke-46 {
  0% {
    stroke-dashoffset: 856.028564453125px;
    stroke-dasharray: 856.028564453125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 856.028564453125px;
  }
}

@keyframes animate-svg-stroke-46 {
  0% {
    stroke-dashoffset: 856.028564453125px;
    stroke-dasharray: 856.028564453125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 856.028564453125px;
  }
}

@-webkit-keyframes animate-svg-fill-46 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 255, 255);
  }
}

@keyframes animate-svg-fill-46 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 255, 255);
  }
}

.svg-elem-46 {
  -webkit-animation: animate-svg-stroke-46 0.01s ease 0.45s both,
                       animate-svg-fill-46 1s linear 0.46s both;
          animation: animate-svg-stroke-46 0.01s ease 0.45s both,
               animate-svg-fill-46 1s linear 0.46s both;
}

@-webkit-keyframes animate-svg-stroke-47 {
  0% {
    stroke-dashoffset: 671.1273803710938px;
    stroke-dasharray: 671.1273803710938px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 671.1273803710938px;
  }
}

@keyframes animate-svg-stroke-47 {
  0% {
    stroke-dashoffset: 671.1273803710938px;
    stroke-dasharray: 671.1273803710938px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 671.1273803710938px;
  }
}

@-webkit-keyframes animate-svg-fill-47 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-47 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-47 {
  -webkit-animation: animate-svg-stroke-47 0.01s ease 0.46s both,
                       animate-svg-fill-47 1s linear 0.47000000000000003s both;
          animation: animate-svg-stroke-47 0.01s ease 0.46s both,
               animate-svg-fill-47 1s linear 0.47000000000000003s both;
}


/***************************************************
SIDE.SVG ANIMATION
 **************************************************/

 @-webkit-keyframes animate-svg-stroke-1 {
   0% {
     stroke-dashoffset: 26.898670196533203px;
     stroke-dasharray: 26.898670196533203px;
   }

   100% {
     stroke-dashoffset: 81px;
     stroke-dasharray: 26.898670196533203px;
   }
 }

 @keyframes animate-svg-stroke-1 {
   0% {
     stroke-dashoffset: 26.898670196533203px;
     stroke-dasharray: 26.898670196533203px;
   }

   100% {
     stroke-dashoffset: 81px;
     stroke-dasharray: 26.898670196533203px;
   }
 }

 .svg-header-1 {
   -webkit-animation: animate-svg-stroke-1 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s both infinite;
           animation: animate-svg-stroke-1 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s both infinite;
 }

 @-webkit-keyframes animate-svg-stroke-2 {
   0% {
     stroke-dashoffset: 26.898670196533203px;
     stroke-dasharray: 26.898670196533203px;
   }

   100% {
     stroke-dashoffset: 81px;
     stroke-dasharray: 26.898670196533203px;
   }
 }

 @keyframes animate-svg-stroke-2 {
   0% {
     stroke-dashoffset: 26.898670196533203px;
     stroke-dasharray: 26.898670196533203px;
   }

   100% {
     stroke-dashoffset: 81px;
     stroke-dasharray: 26.898670196533203px;
   }
 }

 .svg-header-2 {
   -webkit-animation: animate-svg-stroke-2 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s both infinite;
           animation: animate-svg-stroke-2 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s both infinite;
 }

 @-webkit-keyframes animate-svg-stroke-3 {
   0% {
     stroke-dashoffset: 26.898670196533203px;
     stroke-dasharray: 26.898670196533203px;
   }

   100% {
     stroke-dashoffset: 81px;
     stroke-dasharray: 26.898670196533203px;
   }
 }

 @keyframes animate-svg-stroke-3 {
   0% {
     stroke-dashoffset: 26.898670196533203px;
     stroke-dasharray: 26.898670196533203px;
   }

   100% {
     stroke-dashoffset: 81px;
     stroke-dasharray: 26.898670196533203px;
   }
 }

 .svg-header-3 {
   -webkit-animation: animate-svg-stroke-3 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s both infinite;
           animation: animate-svg-stroke-3 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s both infinite;
 }
