<!---
Filename : cryptography.html
Analysis type : Windows
Description : Included in the "reviewinvest.html", this file represent the "Cryptography" tab.
--->


<div class="tab-pane fade" role="tabpanel" id="tab-3">
  <div class="row">

    <!-- Begining of left Column (Cards) -->
    <div class="col-6">
        <!--- Represent the Hashdump cards -->
      {% if Hashdump %}
      {% for elem in Hashdump %}
      <div class="card shadow border-start-primary py-2 mt-2" style="background: rgba(0,0,0,0.25);border-style: none;">
        <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
          <div class="row align-items-center no-gutters">
            <div class="col-auto"><i class="fas fa-user fa-2x text-gray-600"></i></div>
            <div class="col me-2">
              <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="color: var(--bs-pink);">Plugin : HASHDUMP<br></span></div>
              <div class="text-dark fw-bold mb-0 p_info" style="color: rgb(255,255,255);"><span style="color: rgb(255,255,255);">Username : {{elem.User}}
                <br>RID : {{elem.rid}}
                <br>lmhash :&nbsp;{{elem.lmhash}}
                <br>nthash :&nbsp;{{elem.nthash}}
                <br>
              </span></div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="card shadow border-start-primary py-2 mt-2" style="background: rgba(0,0,0,0.25);border-style: none;">
        <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
          <div class="row align-items-center no-gutters">
            <div class="col-auto"><i class="fas fa-user fa-2x text-gray-600"></i></div>
            <div class="col me-2">
              <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="color: var(--bs-pink);">Plugin : HASHDUMP<br></span></div>
              <div class="text-dark fw-bold mb-0 p_info" style="color: rgb(255,255,255);"><span style="color: rgb(255,255,255);">Nothing found<br>
              </span></div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <!--- Represent the CacheDump cards -->
      {% if Cachedump %}
      {% for elem in Cachedump %}
      <div class="card shadow border-start-primary py-2 mt-2" style="background: rgba(0,0,0,0.25);border-style: none;">
        <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
          <div class="row align-items-center no-gutters">
            <div class="col-auto"><i class="fas fa-user fa-2x text-gray-600"></i></div>
            <div class="col me-2">
              <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="color: var(--bs-pink);">Plugin : CACHEDUMP<br></span></div>
              <div class="text-dark fw-bold mb-0 p_info" style="color: rgb(255,255,255);"><span style="color: rgb(255,255,255);">Username : {{elem.Username}}<br>
                Domain : {{elem.Domain}}<br>
                Domain Name : {{elem.Domainname}}<br>
                Hash :&nbsp;{{elem.Hash}}<br>
              </span></div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="card shadow border-start-primary py-2 mt-2" style="background: rgba(0,0,0,0.25);border-style: none;">
        <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
          <div class="row align-items-center no-gutters">
            <div class="col-auto"><i class="fas fa-user fa-2x text-gray-600"></i></div>
            <div class="col me-2">
              <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="color: var(--bs-pink);">Plugin : CACHEDUMP<br></span></div>
              <div class="text-dark fw-bold mb-0 p_info" style="color: rgb(255,255,255);"><span style="color: rgb(255,255,255);">Nothing found<br>
              </span></div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>


    <!-- Begining of rigth Column (LSADUMP + SkeletonKeyCheck) -->
    <div class="col-6">
      <div class="card py-2 mt-2" style="background: rgba(0,0,0,0.25);border-style: none;">
        <div class="card-body">
          <h4 class="card-title">LSA Dump</h4>
          <div class="table-responsive text-break fw-lighter">
            <table class="table table-sm">
              <thead style="color: var(--bs-light);">
                <tr>
                  <th>Key</th>
                  <th>Secret</th>
                  <th>Hex</th>
                </tr>
              </thead>
              <tbody>
                {% if Lsadump %}
                {% for elem in Lsadump %}
                <tr>
                  <td>{{elem.Key}}</td>
                  <td>{{elem.Secret}}</td>
                  <td>{{elem.Hex}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td>Nothing found.</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card py-2 mt-2" style="background: rgba(0,0,0,0.25);border-style: none;">
        <div class="card-body">
          <h4 class="card-title">Skeleton Key Check</h4>
          <div class="table-responsive text-break fw-lighter">
            <table class="table table-sm">
              <thead style="color: var(--bs-light);">
                <tr>
                  <th>PID</th>
                  <th>Process</th>
                  <th>Skeleton Key Found</th>
                  <th>rc4HmacInitialize</th>
                  <th>rc4HmacDecrypt</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% if SkeletonKeyCheck %}
                {% for process in SkeletonKeyCheck %}
                  <tr>
                    <td>{{process.PID }}</td>
                    <td>{{process.Process}}</td>
                    <td>{{process.SkeletonKeyFound}}</td>
                    <td>{{process.rc4HmacInitialize}}</td>
                    <td>{{process.rc4HmacDecrypt}}</td>
                    <td class="w-10">
                      <div class="dropdown no-arrow">
                        {% if process.Tag == "Evidence"%}
                        <strong class="badge bg-danger text-wrap tag_evidence_{{process.id}}_SkeletonKeyCheck">Evidence</strong>
                        <strong class="badge bg-warning text-wrap d-none tag_suspicious_{{process.id}}_SkeletonKeyCheck">Suspicious</strong>
                        {% elif process.Tag == "Suspicious" %}
                        <strong class="badge bg-warning text-wrap tag_suspicious_{{process.id}}_SkeletonKeyCheck">Suspicious</strong>
                        <strong class="badge bg-danger text-wrap d-none tag_evidence_{{process.id}}_SkeletonKeyCheck">Evidence</strong>
                        {% else %}
                        <strong class="badge bg-danger text-wrap d-none tag_evidence_{{process.id}}_SkeletonKeyCheck">Evidence</strong>
                        <strong class="badge bg-warning text-wrap d-none tag_suspicious_{{process.id}}_SkeletonKeyCheck">Suspicious</strong>
                        {% endif %}
                        <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                          <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                              <p class="text-center dropdown-header">Tag as</p>
                              <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'win_tag'%}&quot;, 'SkeletonKeyCheck', {{process.id}}, 'Suspicious')">
                                  <strong class="badge bg-warning text-wrap text-warning">&nbsp;</strong>
                                &nbsp;Suspicious
                              </a>
                              <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'win_tag'%}&quot;, 'SkeletonKeyCheck', {{process.id}}, 'Evidence')">
                                <strong class="badge bg-danger text-wrap text-danger">&nbsp;</strong>
                                &nbsp;Evidence
                              </a>
                              <div class="dropdown-divider">
                              </div>
                              <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'win_tag'%}&quot;, 'SkeletonKeyCheck', {{process.id}}, 'Clear')">&nbsp;Clear tag</a>
                          </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td>Nothing found.</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
