{% extends "main/master.html" %} {% load static %} {% block content%}
<link rel="stylesheet" href="{% static 'cases/css/cases.css'%}" />
<script src="{% static '/js/cases.js'%}"></script>

<div class="container-lg">
    <div class="row justify-content-center mt-4">
        <div
            class="col-6 d-flex align-items-center highlight-toolbar border py-1 pe-2 ps-3"
        >
            <small class="font-monospace text-muted text-uppercase"
                >ACTIONS</small
            >
            <div class="d-flex ms-auto">
                <a class="nav-link case_create" href="#">
                    <div class="align-items-center d-flex">
                        <i
                            class="fas fa-plus icon icon-shape icon-sm border-radius-md d-flex align-items-center justify-content-center me-2 text-center shadow"
                        ></i>
                        <span class="ms-1">Create a case</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <table
        id="cases"
        class="table-sm table-responsive table-hover table"
        style="width: 100%"
    >
        <thead>
            <tr>
                <th>Case No</th>
                <th>Name</th>
                <th>Description</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Case creation Modal -->
<div class="modal fade" id="modal_case_create" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="align-items-center d-flex">
                    <i
                        class="fas fa-suitcase fa-2x icon icon-shape icon-sm border-radius-md d-flex align-items-center justify-content-center me-2 text-center"
                    ></i>
                    <h1 class="modal-title fs-5 p-2" id="modal_case_number">
                        Create a case
                    </h1>
                </div>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form id="case_form">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Name*</label>
                        {{case_form.case_name}}
                    </div>
                    <hr class="horizontal dark mt-0" />

                    <div class="mb-3">
                        <label class="form-label">Description*</label>
                        {{case_form.case_description}}
                    </div>
                    <hr class="horizontal dark mt-0" />

                    <div class="mb-3">
                        <label class="form-label">Analysts on the case</label>
                        {{case_form.linked_users}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button
                    type="button"
                    class="btn btn-sm btn-outline-info"
                    id="new_case"
                >
                    Create
                </button>
                <button
                    type="button"
                    class="btn btn-sm btn-outline-info save_case"
                >
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Case Metadata review Modal -->
<div
    class="modal placeholder-glow fade modal_case_review"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title case_info fs-5 placeholder case_number">
                    Case #X
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle case_info placeholder mb-2">
                            <b>Investigators : </b
                            ><small class="case_users">names</small>
                        </h6>
                        <p class="card-text placeholder case_info">
                            <b>Description : </b
                            ><small class="case_description">description</small>
                        </p>
                        <hr class="horizontal dark mt-0" />
                        <h6 class="card-title case_info placeholder">
                            Evidence collection
                        </h6>

                        <table
                            class="table-sm table-responsive table-hover table"
                        >
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>OS</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="linked_evidences"></tbody>
                        </table>
                        <hr class="horizontal dark mt-0" />
                        <button
                            href="#"
                            id="view_case"
                            class="case_info btn btn-sm btn-outline-success placeholder"
                        >
                            Review
                        </button>

                        <button
                            href="#"
                            id="edit_case"
                            class="case_info btn btn-sm btn-outline-info placeholder"
                        >
                            Edit
                        </button>
                        <button
                            href="#"
                            id="delete_case"
                            class="case_info btn btn-sm btn-outline-danger placeholder"
                        >
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Case "are you sure" Modal -->
<div
    class="modal placeholder-glow fade modal_case_delete"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1
                    class="modal-title case_info fs-5 placeholder case_name"
                ></h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                You are about to delete the case, the memory image will also be
                delete from the bucket. Are you sure ?
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    id="delete_case_confirm"
                    class="case_info btn btn-sm btn-outline-danger placeholder"
                >
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock content%}
