{% extends "main/master.html" %} {% load static %} {% block content%}
<link rel="stylesheet" href="{% static 'cases/css/case.css'%}" />
<script src="{% static 'main/js/stix_module.js'%}"></script>
<script src="{% static '/js/case.js'%}"></script>
<link rel="stylesheet" href="{% static 'evidences/css/evidences.css'%}" />
<script src="{% static 'evidences/js/evidences.js'%}"></script>
<script src="{% static 'evidences/js/lib/aws-sdk-2.1439.0.min.js'%}"></script>

<div class="container-fluid">
    <div class="row" id="case" value="{{case.case_id}}">
        <div class="col-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="h4">#{{case.case_id}} - {{case.case_name}}</h4>
                    <ul class="list-group list-group-flush mt-0">
                        <li class="list-group-item">
                            <small>{{case.case_description}}</small>
                        </li>
                    </ul>
                    <hr class="horizontal dark mt-0" />

                    <h5 class="h5 mt-3">Aquired evidence(s)</h5>
                    <table
                        id="evidences"
                        class="table-sm table-responsive table-hover table"
                        style="width: 100%"
                    >
                        <thead>
                            <tr>
                                <th>Filename</th>
                                <th>etag</th>
                                <th>OS</th>
                                <th>Linked case</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h5 mt-3">Indicator(s)</h5>
                            <hr class="horizontal dark mt-0" />
                            <table
                                id="indicators"
                                class="table-sm table-responsive table-hover table"
                                style="width: 100%"
                            >
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Description</th>
                                        <th>Value</th>
                                        <th>TLP</th>
                                        <th>Source</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-body">Observed Data</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock content%}
