<div class="modal fade" id="artefacts_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="artefacts_source_title"></h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body" id="artefacts_body"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="network" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Network</h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="accordion" id="netaccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne"
                                aria-expanded="false"
                            >
                                <i class="fa fa-circle-nodes text-gray-600"></i
                                >&nbsp;SockStat
                            </button>
                        </h2>
                        <div
                            id="flush-collapseOne"
                            class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne"
                            data-bs-parent="#netaccordion"
                        >
                            <div class="accordion-body">
                                <table
                                    id="sockstat_datatable"
                                    class="table-sm table-responsive table-hover table"
                                    style="width: 100%"
                                >
                                    <thead>
                                        <tr>
                                            <th>Sock Offset</th>
                                            <th>Pid</th>
                                            <th>Family</th>
                                            <th>Proto</th>
                                            <th>Type</th>
                                            <th>Source Addr</th>
                                            <th>Source Port</th>
                                            <th>Destination Addr</th>
                                            <th>Destination Port</th>
                                            <th>State</th>
                                            <th>FD</th>
                                            <th>Filter</th>
                                            <th>NetNS</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="net_graph" class="netgraph"></div>
            </div>
        </div>
    </div>
</div>
