.dataTable:hover{
    cursor: pointer;
}

.page-item.active .page-link{
    z-index: 3;
    color: #000;
    background-color: #fff;
    border-color: #000;
}

.modal-dialog{
    --modal-fade-transform: scale(.8);
}