<!---
Filename : netgraph.html
Analysis type : Windows
Description :
Included in the "review_invest.html", this file represent the "Network" tab.
Using anychart, we display the combined results of netstat and netscan in raw format.
--->
<div class="tab-pane fade" role="tabpanel" id="tab-8">
  <div class="row">
    <div class="col-12">

      <div class="card py-2 mt-2" style="background: rgba(0,0,0,0.25);border-style: none;">
        <div class="card-body">
          <h4 class="card-title">NetStat</h4>
          <div class="col mt-2 align-items-center no-gutters d-flex justify-content-between">
            <input type="search" id="searchNetworkStat" class="search-bar form-control" placeholder="Look for something" style="color: var(--bs-gray-100);background: var(--bs-primary-rgb);">
          </div>
          <div class="table-responsive text-break fw-lighter">
            <table class="table table-sm netstat">
              <thead>
                <tr>
                  <th scope="col">Created</th>
                  <th scope="col">Offset</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Proto</th>
                  <th scope="col">LocalAddr</th>
                  <th scope="col">LocalPort</th>
                  <th scope="col">ForeignAddr</th>
                  <th scope="col">ForeinPort</th>
                  <th scope="col">State</th>
                  <th scope="col">PID</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody id="netstat">
                {% for process in NetStat %}
                <tr class="pid pid_{{process.PID}} d-none">
                  <td>{{process.Created}}</td>
                  <td>{{process.Offset}}</td>
                  <td>{{process.Owner}}</td>
                  <td>{{process.Proto}}</td>
                  <td>{{process.LocalAddr}}</td>
                  <td>{{process.LocalPort}}</td>
                  <td>{{process.ForeignAddr}}</td>
                  <td>{{process.ForeignPort}}</td>
                  <td>{{process.State}}</td>
                  <td>{{process.PID}}</td>
                  <td class="w-10">
                    <div class="dropdown no-arrow">
                      {% if process.Tag == "Evidence"%}
                      <strong class="badge bg-danger text-wrap tag_evidence_{{process.id}}">Evidence</strong>
                      <strong class="badge bg-warning text-wrap d-none tag_suspicious_{{process.id}}">Suspicious</strong>
                      {% elif process.Tag == "Suspicious" %}
                      <strong class="badge bg-warning text-wrap tag_suspicious_{{process.id}}">Suspicious</strong>
                      <strong class="badge bg-danger text-wrap d-none tag_evidence_{{process.id}}">Evidence</strong>
                      {% else %}
                      <strong class="badge bg-danger text-wrap d-none tag_evidence_{{process.id}}">Evidence</strong>
                      <strong class="badge bg-warning text-wrap d-none tag_suspicious_{{process.id}}">Suspicious</strong>
                      {% endif %}
                      <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                            <p class="text-center dropdown-header">Tag as</p>
                            <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'win_tag'%}&quot;, 'NetStat', {{process.id}}, 'Suspicious')">
                                <strong class="badge bg-warning text-wrap text-warning">&nbsp;</strong>
                              &nbsp;Suspicious
                            </a>
                            <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'win_tag'%}&quot;, 'NetStat', {{process.id}}, 'Evidence')">
                              <strong class="badge bg-danger text-wrap text-danger">&nbsp;</strong>
                              &nbsp;Evidence
                            </a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'win_tag'%}&quot;, 'NetStat', {{process.id}}, 'Clear')">&nbsp;Clear tag</a>
                        </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">

      <div class="card py-2 mt-2" style="background: rgba(0,0,0,0.25);border-style: none;">
        <div class="card-body">
          <h4 class="card-title">NetScan</h4>
          <div class="col mt-2 align-items-center no-gutters d-flex justify-content-between">
            <input type="search" id="searchNetworkScan" class="search-bar form-control" placeholder="Look for something" style="color: var(--bs-gray-100);background: var(--bs-primary-rgb);">
          </div>
          <div class="table-responsive text-break fw-lighter">
            <table class="table table-sm netscan">
              <thead>
                <tr >
                  <th scope="col">Created</th>
                  <th scope="col">Offset</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Proto</th>
                  <th scope="col">LocalAddr</th>
                  <th scope="col">LocalPort</th>
                  <th scope="col">ForeignAddr</th>
                  <th scope="col">ForeinPort</th>
                  <th scope="col">State</th>
                  <th scope="col">PID</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody id="netscan">
                {% for process in NetScan %}
                <tr class="pid pid_{{process.PID}} d-none">
                  <td>{{process.Created}}</td>
                  <td>{{process.Offset}}</td>
                  <td>{{process.Owner}}</td>
                  <td>{{process.Proto}}</td>
                  <td>{{process.LocalAddr}}</td>
                  <td>{{process.LocalPort}}</td>
                  <td>{{process.ForeignAddr}}</td>
                  <td>{{process.ForeignPort}}</td>
                  <td>{{process.State}}</td>
                  <td>{{process.PID}}</td>
                  <td class="w-10">
                    <div class="dropdown no-arrow">
                      {% if process.Tag == "Evidence"%}
                      <strong class="badge bg-danger text-wrap tag_evidence_{{process.id}}_NetScan">Evidence</strong>
                      <strong class="badge bg-warning text-wrap d-none tag_suspicious_{{process.id}}_NetScan">Suspicious</strong>
                      {% elif process.Tag == "Suspicious" %}
                      <strong class="badge bg-warning text-wrap tag_suspicious_{{process.id}}_NetScan">Suspicious</strong>
                      <strong class="badge bg-danger text-wrap d-none tag_evidence_{{process.id}}_NetScan">Evidence</strong>
                      {% else %}
                      <strong class="badge bg-danger text-wrap d-none tag_evidence_{{process.id}}_NetScan">Evidence</strong>
                      <strong class="badge bg-warning text-wrap d-none tag_suspicious_{{process.id}}_NetScan">Suspicious</strong>
                      {% endif %}
                      <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                            <p class="text-center dropdown-header">Tag as</p>
                            <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'win_tag'%}&quot;, 'NetScan', {{process.id}}, 'Suspicious')">
                                <strong class="badge bg-warning text-wrap text-warning">&nbsp;</strong>
                              &nbsp;Suspicious
                            </a>
                            <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'win_tag'%}&quot;, 'NetScan', {{process.id}}, 'Evidence')">
                              <strong class="badge bg-danger text-wrap text-danger">&nbsp;</strong>
                              &nbsp;Evidence
                            </a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'win_tag'%}&quot;, 'NetScan', {{process.id}}, 'Clear')">&nbsp;Clear tag</a>
                        </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
