<!-- Investigation process_graph artifacts -->

<button class="btn btn-prim-d" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProcessGraph" aria-expanded="false" aria-controls="collapseProcessGraph">
  Process Tree Graph
</button>
<div class="collapse mt-5 text-white card-font" id="collapseProcessGraph">
  <div style="height:80rem;" class="text-white" id="container"></div>
  <script>
    anychart.onDocumentReady(function () {
      // create data
      var data = JSON.parse("{{graph|escapejs}}");
      // create a data tree
      treeData = anychart.data.tree(data, "as-tree");
      // create a chart and set the data
      var chart = anychart.sunburst(treeData);

      // set the chart title
      chart.title("Process_Tree");
      chart.background().fill("#1c2a34");
      // set the container id
      chart.container("container");
      // initiate drawing the chart
      chart.draw();
      chart.tooltip().format("{%name}\n\npid: {%pid}");
    });
  </script>
</div>
