<!-- Investigation process_cmdline artifacts -->
<button onclick="triggerContextMenu()" class="btn btn-dark border border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCmdLine" aria-expanded="false" aria-controls="collapsCmdLine">
  Process Command Line
</button>
<div class="text-white collapse mt-5" id="collapseCmdLine">
  <h6 class="h6">Process Command Line</h6>
  <div class="d-inline">
    <input class="form-control mb-3" id="searchCmdLine" type="text" placeholder="Search..">
  </div>
  <table id="processCmdTable" class="table table-light  card-font processcmdline">
    <thead>
      <tr>
        <th scope="col">PID</th>
        <th scope="col">Process Name</th>
        <th scope="col">Command</th>
      </tr>
    </thead>
    <tbody id="cmdline">
      {% for process in cmdline %}
      <tr>
        <td class="w-25">{{process.PID }}</td>
        <td class="w-25" >{{process.Process}}</td>
        <td class="w-50">{{process.Args}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
