<!-- Investigation process_privileges artifacts -->
<button class="btn btn-dark border border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePriv" aria-expanded="false" aria-controls="collapsePriv">
  Process Privileges
</button>
<div class="collapse mt-5" id="collapsePriv">
  <h6 class="h6">Process Privileges</h6>
  <div class="d-inline">
    <input class="form-control mb-3" id="searchPriv" type="text" placeholder="Search..">
  </div>
  <table id="processPrivilegesTable" class="table table-light  card-font processpriv">
    <thead>
      <tr>
        <th scope="col">PID</th>
        <th scope="col">Process Value</th>
        <th scope="col">Privilege</th>
        <th scope="col">Attributes</th>
        <th scope="col">Description</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody id="processPriv">
      {% for process in privileges %}
      <tr>
        <td>{{process.PID}}</td>
        <td>{{process.Process}}</td>
        <td>{{process.Privilege}}</td>
        <td>{{process.Attributes}}</td>
        <td>{{process.Description}}</td>
        <td>{{process.Value}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
