#############VOLWEB PLATFORM INFORMATION#############
DJANGO_SECRET=SECRET_KEY_HERE # Change me
CSRF_TRUSTED_ORIGINS=https://fqdn-or-ip-volweb-plateform # Change me
WEBSOCKET_URL=wss://fqdn-or-ip-volweb-plateform # Change me

AWS_ENDPOINT_URL=""
AWS_REGION=us-east-1 # Change my region if needed
AWS_ENDPOINT_HOST=s3.dualstack.us-east-1.amazonaws.com # Also change my region if needed
AWS_ACCESS_KEY_ID=user # Change me with your access ID
AWS_SECRET_ACCESS_KEY=password # Change me with your access KEY

#################VOLWEB DATABASE######################
POSTGRES_USER=volweb # Change me
POSTGRES_PASSWORD=volweb # Change me
POSTGRES_DB=volweb

DATABASE=postgres
DATABASE_HOST=volweb-postgresdb
DATABASE_PORT=5432
######################################################



BROKER_HOST=volweb-redis
BROKER_PORT=6379
