<!-- Linux sidebar -->
<div class="col-auto px-0">
  <div id="sidebar" class="collapse collapse-horizontal border-light">
    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">

      <a href="#" id="CaseLink" class="bg-light list-group-item d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="text-dark bi bi-briefcase"></i> <span class="text-dark">Case</span></a>

      <!-- Process Artifacts -->

      <a href="#collapseProcess" class="bg-light list-group-item d-inline-block text-truncate" data-bs-toggle="collapse" data-bs-parent="#sidebar"><i class="text-dark bi bi-cpu"></i> <span class="text-dark">Process</span> </a>
      <div class="collapse show" id="collapseProcess">
        <ul class="list-group-item bg-light">
          <li class="bg-light list-group-horizontal-md text-truncate" data-bs-parent="#sidebar"><i class="text-dark bi bi bi-box"></i> <a id="PsListLink" href="#" class="text-dark">PsList</a></li>
          <li class="bg-light list-group-horizontal-md text-truncate" data-bs-parent="#sidebar"><i class="text-dark bi bi bi-box"></i> <a id="PsTreeLink" href="#" class="text-dark">PsTree</a></li>
          <li class="bg-light list-group-horizontal-md text-truncate" data-bs-parent="#sidebar"><i class="text-dark bi bi bi-box"></i> <a id="ProcMapsLink" href="#" class="text-dark">ProcMaps</a></li>
          <li class="bg-light list-group-horizontal-md text-truncate" data-bs-parent="#sidebar"><i class="text-dark bi bi bi-box"></i> <a id="ElfsLink" href="#" class="text-dark">Elfs</a></li>
          <ul>
          </div>

          <!-- Malware analysis Artifacts -->
          <a href="#collapseMalware" class="bg-light list-group-item d-inline-block text-truncate" data-bs-toggle="collapse" data-bs-parent="#sidebar"><i class="text-dark bi bi-bug-fill"></i> <span class="text-dark">Malware-ology</span> </a>

          <div class="collapse show" id="collapseMalware">
            <ul class="list-group-item bg-light">
              <li class="bg-light list-group-horizontal-md text-truncate" data-bs-parent="#sidebar"><i class="text-dark bi bi bi-box"></i> <a id="BashLink" href="#" class="text-dark">Bash</a></li>
              <li class="bg-light list-group-horizontal-md text-truncate" data-bs-parent="#sidebar"><i class="text-dark bi bi bi-box"></i> <a id="LsofLink" href="#" class="text-dark">Lsof</a></li>
              <li class="bg-light list-group-horizontal-md text-truncate" data-bs-parent="#sidebar"><i class="text-dark bi bi bi-box"></i> <a id="TtyCheckLink" href="#" class="text-dark">TtyCheck</a></li>
              <ul>
          </div>
        </div>
    </div>
</div>
