[data-bs-theme="ligth"] .nav-pills .nav-link {
    background: none;
    color: #252f40;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
}

[data-bs-theme="dark"] .nav-pills .nav-link {
    background: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
}

[data-bs-theme="ligth"] .nav-pills .nav-link.active,
.show > .nav-link {
    font-weight: 600;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    color: #252f40;
    background-color: #fff;
}

[data-bs-theme="dark"] .nav-pills .nav-link.active,
.show > .nav-link {
    font-weight: 600;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    color: #252f40;
    background-color: #fff;
}

.dataTable:hover {
    cursor: pointer;
}

.page-item.active .page-link {
    z-index: 3;
    color: #000;
    background-color: #fff;
    border-color: #000;
}

.dataTable {
    color: #252f40;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
}

.list-group-item,
#container {
    font-weight: 400;
    font-size: 0.875rem;
}

.table-responsive {
    overflow: inherit;
}

.btn-link:hover {
    color: #696969;
}

[data-bs-theme="dark"] .btn-link {
    color: #ffffff;
}

[data-bs-theme="light"] .btn-link {
    color: #000000;
}

.dropdown-item {
    font-weight: 400;
    font-size: 0.875rem;
}

.card_clickable {
    transition: transform 0.2s;
}

.card_clickable:hover {
    transform: scale(1.02);
    cursor: pointer;
    border-color: rgb(0, 0, 0);
}

[data-bs-theme="dark"] #overview_graph {
    background-color: var(--bs-volweb);
}

[data-bs-theme="light"] #overview_graph {
    background-color: #ffffff;
}

[data-bs-theme="dark"] #net_graph {
    background-color: #212529;
}

[data-bs-theme="light"] #net_graph {
    background-color: #ffffff;
}
.small-text {
    font-size: 0.875rem;
}
