<div class="row mt-2">
    <div class="col-md-3 col-xl-2 col-sm-3">
        <div class="card border-start-primary shadow">
            <div class="card-header p-2">
                <div class="row align-items-center no-gutters">
                    <div class="col-auto">
                        <i class="fas fa-microscope fa-2x"></i>
                    </div>
                    <div class="col me-2">
                        <div class="text-uppercase fw-bold mb-1 text-xs">
                            <span>Utilities</span>
                        </div>
                    </div>
                </div>
                <hr class="horizontal dark mt-0" />
                <div class="card-body p-1">
                    <div
                        class="card border-start-primary card_clickable card_malfind m-2 shadow"
                    >
                        <div class="card-body p-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-auto">
                                    <i class="fas fa-bugs"></i>
                                </div>
                                <div class="col me-2">
                                    <span class="fw-bold text-xs">Malfind</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="card border-start-primary card_clickable card_ldrmodules m-2 shadow"
                    >
                        <div class="card-body p-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-auto">
                                    <i class="fas fa-gears"></i>
                                </div>
                                <div class="col me-2">
                                    <span class="fw-bold text-xs"
                                        >Process modules</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="card border-start-primary card_clickable card_kernel_modules m-2 shadow"
                    >
                        <div class="card-body p-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-auto">
                                    <i class="fab fa-codepen"></i>
                                </div>
                                <div class="col me-2">
                                    <span class="fw-bold text-xs"
                                        >Kernel modules</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="card border-start-primary card_clickable card_ssdt m-2 shadow"
                    >
                        <div class="card-body p-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-auto">
                                    <i class="fas fa-diagram-predecessor"></i>
                                </div>
                                <div class="col me-2">
                                    <span class="fw-bold text-xs"
                                        >System Call Table</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="card border-start-primary card_clickable card_ads m-2 shadow"
                    >
                        <div class="card-body p-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-auto">
                                    <i class="fas fa-bars-staggered"></i>
                                </div>
                                <div class="col me-2">
                                    <span class="fw-bold text-xs"
                                        >Alternate Data Streams</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="card border-start-primary card_clickable card_mbrscan m-2 shadow"
                    >
                        <div class="card-body p-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-auto">
                                    <i class="fas fa-bars-staggered"></i>
                                </div>
                                <div class="col me-2">
                                    <span class="fw-bold text-xs"
                                        >MBR Scan</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-xl-10 col-sm-9 hide-by-default" id="ir_details">
        <div class="card">
            <div class="card-header" id="ir_artefacts_title"></div>
            <div class="card-body">
                <div
                    class="hide-by-default text-center"
                    id="ir_artefacts_loading"
                >
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="ir_artefacts_body"></div>
            </div>
        </div>
    </div>

    <div
        class="col-md-3 col-xl-2 col-sm-3 hide-by-default"
        id="malfind_process_menu"
    >
        <div class="hide-by-default text-center" id="malfind_process_loading">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div id="malfind_process_list" class="hide-by-default"></div>
    </div>

    <div
        class="col-md-6 col-xl-8 col-sm-6 hide-by-default"
        id="malfind_details"
    >
        <div class="card sticky-top">
            <div class="card-header">
                <div class="row justify-content-center small-text">
                    <div class="col-3">
                        <span>Start VPN : </span
                        ><code id="malfind_start_vpn"></code>
                    </div>
                    <div class="col-3">
                        <span>End VPN : </span
                        ><code id="malfind_end_vpn"></code>
                    </div>
                    <div class="col-3">
                        <span>Tag : </span><code id="malfind_tag"></code>
                    </div>
                    <div class="col-3">
                        <span>Protection : </span
                        ><code id="malfind_protection"></code>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <code><pre id="malfind_hexdump"></pre></code>
                    </div>
                    <div class="col-6">
                        <code><pre id="malfind_disasm"></pre></code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
