<div class="row mt-2">
    <div class="col-md-6 col-xl-3 col-sm-12">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col-auto"><i class="fas fa-folder-tree fa-2x text-gray-600"></i></div>

                    <div class="col me-2">
                        <div class="text-uppercase fw-bold text-xs mb-1"><span>Process Tree</span></div>
                    </div>
                </div>
                <hr class="horizontal dark mt-0">
                <div class="card-body">
                    <div id="container"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-9 col-sm-12">
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="card shadow border-start-primary py-2 process_id">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col-auto"><i class="fas fa-circle-info fa-2x text-gray-600"></i></div>
                            <div class="col me-2">
                                <div class="text-uppercase fw-bold text-xs mb-1"><span>METADATA : </span><span class="process_title"></span></span></div>
                            </div>
                        </div>
                        <hr class="horizontal dark mt-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Process ID : <code class="p_pid"></code></li>
                            <li class="list-group-item">Offset : <code class="p_offset"></code></li>
                            <li class="list-group-item">Threads : <code class="p_threads"></code></li>
                            <li class="list-group-item">Handles : <code class="p_handles"></code></li>
                            <li class="list-group-item">Session id : <code class="p_session"></code></li>
                            <li class="list-group-item">Wow64 :  <code class="p_wow64"></code></li>
                            <li class="list-group-item">Creation Time :  <code class="p_ctime"></code></li>
                            <li class="list-group-item">Exit Time :  <code class="p_etime"></code></li>
                            <li class="list-group-item">Session Username :  <code class="p_session_username"></code></li>
                            <li class="list-group-item">Arguments : <code class="p_cmdline"></code></li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-8">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col-auto"><i class="fas fa-toolbox fa-2x text-gray-600"></i></div>
                            <div class="col me-2">
                                <div class="text-uppercase fw-bold text-xs mb-1"><span>Investigation Tools</span></div>
                            </div>
                        </div>
                        <hr class="horizontal dark mt-0">
                        <div class="row">
                            <div class="col-md-4 col-xl-3 col-sm-6 p-2">
                                <div class="card shadow border-start-primary py-2 card_clickable">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col-auto"><i class="fas fa-grip-vertical fa-2x text-gray-600"></i></div>
                                            <div class="col me-2">
                                                <div class="text-uppercase fw-bold text-xs"><span>HANDLES for </span><code class=" text-uppercase fw-bold text-xs process_title"></code></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3 col-sm-6 p-2">
                                <div class="card shadow border-start-primary py-2 card_clickable card_sids">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col-auto"><i class="fas fa-address-card fa-2x text-gray-600"></i></div>
                                            <div class="col me-2">
                                                <div class="text-uppercase fw-bold text-xs"><span>SIDS for </span><code class=" text-uppercase fw-bold text-xs process_title"></code></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3 col-sm-6 p-2">
                                <div class="card shadow border-start-primary py-2 card_clickable card_privs">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col-auto"><i class="fas fa-key fa-2x text-gray-600"></i></div>
                                            <div class="col me-2">
                                                <div class="text-uppercase fw-bold text-xs"><span>Privileges for </span><code class=" text-uppercase fw-bold text-xs process_title"></code></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3 col-sm-6 p-2">
                                <div class="card shadow border-start-primary py-2 card_clickable card_envars">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col-auto"><i class="fab fa-envira fa-2x text-gray-600"></i></div>
                                            <div class="col me-2">
                                                <div class="text-uppercase fw-bold text-xs"><span>Envars for </span><code class=" text-uppercase fw-bold text-xs process_title"></code></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3 col-sm-6 p-2">
                                <div class="card shadow border-start-primary py-2 card_clickable card_dlllist">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col-auto"><i class="fas fa-list fa-2x text-gray-600"></i></div>
                                            <div class="col me-2">
                                                <div class="text-uppercase fw-bold text-xs"><span>DllList for </span><code class=" text-uppercase fw-bold text-xs process_title"></code></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3 col-sm-6 p-2">
                                <div class="card shadow border-start-primary py-2 card_clickable card_network">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col-auto"><i class="fas fa-network-wired fa-2x text-gray-600"></i></div>
                                            <div class="col me-2">
                                                <div class="text-uppercase fw-bold text-xs"><span>Network</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3 col-sm-6 p-2">
                                <div class="card shadow border-start-primary py-2 card_clickable card_dlllist">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col-auto"><i class="fas fa-fingerprint fa-2x text-gray-600"></i></div>
                                            <div class="col me-2">
                                                <div class="text-uppercase fw-bold text-xs"><span>Credentials</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3 col-sm-6 p-2">
                                <div class="card shadow border-start-primary py-2 card_clickable card_dlllist">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col-auto"><i class="fab fa-hive fa-2x text-gray-600"></i></div>
                                            <div class="col me-2">
                                                <div class="text-uppercase fw-bold text-xs"><span>Registry explorer</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="card shadow border-start-primary py-2 process_id">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col-auto"><i class="fas fa-eye fa-2x text-gray-600"></i></div>
                            <div class="col me-2">
                                <div class="text-uppercase fw-bold text-xs mb-1"><span>VISUALISATION</span></span></span></div>
                            </div>
                        </div>
                        <hr class="horizontal dark mt-0">
                        <div class="col-12 graph">
                            <div id="overview_graph" ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "windows_engine/modals.html" %}
    </div>
</div>