{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>VolWeb</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'windows_engine/css/review_process.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'windows_engine/js/overview.js'%}"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.7.5/joint.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.1/backbone.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.7.5/joint.js"></script>
        <script src="https://dagrejs.github.io/project/dagre/latest/dagre.min.js"></script>
        <script src="https://dagrejs.github.io/project/graphlib/latest/graphlib.min.js"></script>
    </head>
    <body>

        <div id="wrapper">
            <div id="sidebar" class="flex-shrink-0 p-3" style="width: 300px;">
                <a href="/" class="d-flex align-items-center justify-content-center pb-3 mb-3 link-dark text-decoration-none">
                    <img width="30" height="24" src="{% static 'windows_engine/images/cpu.svg'%}">
                    <span class="fs-5 fw-semibold">Process_Name</span>
                </a>
                <hr class="horizontal dark">

                <ul class="navbar-nav">
                    <li class="nav-item pid" id="{{pid}}">
                        PID : [PID]
                    </li>
                    <li class="nav-item">
                        PPID : [PPID]
                    </li>
                    <li class="nav-item">
                        Offset : [OFFSET]
                    </li>
                    <li class="nav-item">
                        Threads : [Threads]
                    </li>
                    <li class="nav-item">
                        Created time : [Created time]
                    </li>
                    <li class="nav-item">
                        Exit time : [Exit time]
                    </li>
                    <hr class="horizontal dark">
                    <li class="nav-item">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Overview</button>
                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Network</button>
                            <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false" disabled>Disabled</button>
                            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Handles</button>
                            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">DllList</button>
                        </div>
                    </li>
                    <hr class="horizontal dark">
                    <li class="nav-item">
                        <p class="card-text">
                            <button class="btn btn-dark btn-sm" type="button">Dump (standard)</button>
                            <button class="btn btn-dark d-none btn-sm" type="button">
                                <span class="spinner-border spinner-border-sm" role="status"></span>
                            </button>
                            <button class="btn btn-success d-none btn-sm" type="button">Download</button>
                        </p>
                        <p class="card-text p_info">
                            <button class="btn btn-dark btn-sm" type="button">Dump (memmaps)</button>
                            <button class="btn btn-dark d-none btn-sm" type="button">
                                <span class="spinner-border spinner-border-sm" role="status"></span>
                            </button>
                            <button class="btn btn-success d-none btn-sm" type="button">Download</button>
                        </p>
                    </li>
                    <hr class="horizontal dark">
                    <li class="nav-item">
                        <p class="card-text p_info">
                            <button class="btn btn-dark btn-sm" type="button">EchoTrail Intel</button>
                        </p>
                    </li>
                </ul>
              </div>
            <div class="divider" id="{{evidence}}"></div>
            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                            {% include "windows_engine/overview.html" %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                            {% include "windows_engine/network.html" %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">...</div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
                    </div>                    
                </div>
            </div>
        </div>
    </body>
</html>
<script>
    var cpu = "{% static 'windows_engine/images/cpu.svg' %}"
</script>