{% extends "main/master.html" %} {% load static %} {% block content%}
<script src="{% static 'windows_engine/js/main.js'%}"></script>
<script src="{% static 'windows_engine/js/pstree.js'%}"></script>
<script src="{% static 'windows_engine/js/visualisation.js'%}"></script>
<script src="{% static 'windows_engine/js/api.js'%}"></script>
<script src="{% static 'windows_engine/js/tag.js'%}"></script>
<script src="{% static 'windows_engine/js/tree.js'%}"></script>
<script src="{% static 'windows_engine/js/tasks.js'%}"></script>
<link
  rel="stylesheet"
  href="{% static 'windows_engine/css/treejs.min.css'%}"
  id="treejs_styles"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'windows_engine/css/windows_engine.css'%}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'windows_engine/css/windows_engine.css'%}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.anychart.com/releases/8.11.0/fonts/css/anychart-font.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.7.5/joint.css"
/>
<link
  href="https://cdn.datatables.net/v/bs5/dt-1.13.6/r-2.5.0/sc-2.2.0/sp-2.2.0/sl-1.7.0/datatables.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/r-2.5.0/sc-2.2.0/sp-2.2.0/sl-1.7.0/datatables.min.js"></script>
<script
  src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"
  type="text/javascript"
></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-graph.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-sunburst.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.1/backbone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.7.5/joint.js"></script>
<script src="https://dagrejs.github.io/project/dagre/latest/dagre.min.js"></script>
<script src="https://dagrejs.github.io/project/graphlib/latest/graphlib.min.js"></script>

<nav class="navbar navbar-expand-lg border-bottom">
  <div class="container-fluid">
    <div class="navbar-brand">
      <i class="fas fa-suitcase"></i>
      Case <span class="case_name"></span>
      <i class="fas fa-chevron-right"></i>
      Evidence <span class="evidence_name"></span>
    </div>
    {% csrf_token %}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item">
          <button
            class="nav-link active"
            id="overview-tab"
            data-bs-toggle="pill"
            data-bs-target="#overview"
            type="button"
            role="tab"
            aria-selected="true"
          >
            <i class="fas fa-chart-bar"></i>&nbsp;Overview
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link"
            id="timeliner-tab"
            data-bs-toggle="pill"
            data-bs-target="#timeliner"
            type="button"
            role="tab"
            aria-selected="false"
          >
            <i class="fas fa-timeline"></i>&nbsp;Timeline
          </button>
        </li>
        <!-- <li class="nav-item">
                    <button class="nav-link" id="credentials-tab" data-bs-toggle="pill" data-bs-target="#credentials" type="button" role="tab"  aria-selected="false"><i class="fas fa-fingerprint"></i>&nbsp;Credentials</button>
                </li> -->
        <li class="nav-item">
          <button
            class="nav-link"
            id="malware-tab"
            data-bs-toggle="pill"
            data-bs-target="#malware"
            type="button"
            role="tab"
            aria-selected="false"
          >
            <i class="fas fa-microscope"></i>&nbsp;Injections & Rootkits
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      style="height: 93vh"
      id="overview"
      role="tabpanel"
      aria-labelledby="overview-tab"
      tabindex="0"
    >
      {% include "windows_engine/overview.html" %}
    </div>
    <div
      class="tab-pane fade"
      id="timeliner"
      role="tabpanel"
      aria-labelledby="timeliner-tab"
      tabindex="0"
    >
      <div style="height: 20rem" id="timeline"></div>
      <table
        id="timeline_datatable"
        class="table table-sm table-responsive table-hover"
      >
        <thead>
          <tr>
            <th>Created Date</th>
            <th>Accessed Date</th>
            <th>Changed Date</th>
            <th>Description</th>
            <th>Modified Date</th>
            <th>Plugin</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div
      class="tab-pane fade"
      id="credentials"
      role="tabpanel"
      aria-labelledby="credentials-tab"
      tabindex="0"
    >
      ...
    </div>
    <div
      class="tab-pane fade"
      id="malware"
      role="tabpanel"
      aria-labelledby="malware-tab"
      tabindex="0"
    >
      ...
    </div>
  </div>
</div>

<div class="main" id="{{evidence.dump_id}}"></div>

<script>
  var cpu = "{% static 'windows_engine/images/cpu.svg' %}";
</script>
{% endblock content%}
