<!-- Investigation network_stat artifacts -->

<button class="btn btn-dark border border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNetstat" aria-expanded="false" aria-controls="collapseNetstat">
  Network Stat
</button>
<div class="collapse mt-5" id="collapseNetstat">
  <div class="d-inline">
    <input class="form-control mb-3" id="searchNetworkStat" type="text" placeholder="Search..">
  </div>
  <table id="processNetworkStatTable" class="table table-light  card-font netstat">
    <thead>
      <tr>
        <th scope="col">Created</th>
        <th scope="col">Offset</th>
        <th scope="col">Owner</th>
        <th scope="col">Proto</th>
        <th scope="col">LocalAddr</th>
        <th scope="col">LocalPort</th>
        <th scope="col">ForeignAddr</th>
        <th scope="col">ForeinPort</th>
        <th scope="col">State</th>
        <th scope="col">PID</th>
      </tr>
    </thead>
    <tbody id="netstat">
      {% for process in netstat %}
      <tr>
        <td>{{process.Created}}</td>
        <td>{{process.Offset}}</td>
        <td>{{process.Owner}}</td>
        <td>{{process.Proto}}</td>
        <td>{{process.LocalAddr}}</td>
        <td>{{process.LocalPort}}</td>
        <td>{{process.ForeignAddr}}</td>
        <td>{{process.ForeignPort}}</td>
        <td>{{process.State}}</td>
        <td>{{process.PID}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
