
{% extends "dashboard/base.html" %}

{% block content %}
<style>
  .form-control, .form-select {
    color: var(--bs-gray-100);
    background: var(--bs-primary-rgb);
  }

  .card, .card-header{
    background: rgba(0,0,0,0.25);
    border-style: none;
  }

</style>
    <div class="container"><a class="btn btn-link link-primary mb-3" role="button" target="_parent" href="{% url 'iocs'%}"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="mb-0">Custom IOC</h3>
        </div>
        <form method="POST">
          {% csrf_token %}
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="m-0 fw-bold">Fill in the required fields *</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <div class="mb-3"><label class="form-label" for="service_name"><strong>Name *</strong></label>{{form.name}}</div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="mb-3"><label class="form-label" for="service_price"><strong>Context *</strong><br></label>{{form.context}}</div>
                        </div>
                    </div>
                    <div class="mb-3"><label class="form-label" for="client_description"><strong>Value *</strong><br></label>{{form.value}}</div>
                        <div class="form-group mb-3">
                          <div class="mb-3"><label class="form-label" for="service_price"><strong>Linked analysis *</strong><br></label>
                            {{form.linkedInvestigation}}
                          </div>
                    </div><button class="btn btn-primary" id="submit">Save</button>
                </div>
            </div>
            <div class="text-end mb-3"></div>
        </form>
    </div>

    <script>
    $(document).ready(function(){
      $('.container').show();
      $('.container-fluid').show();
      $('.spinner-main').hide();
    });
    </script>
{% endblock content %}
