{% extends "dashboard/base.html" %}
{% load static %}
{% block content%}
<div class="container">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col align-items-center no-gutters d-flex justify-content-between" style="margin-top: 10px;">
      <h4 style="color: var(--bs-white);"><i class="fas fa-fingerprint"></i>&nbsp;String based IOCs</h4><a href="{% url 'new_ioc' %}" class="btn btn-primary btn-sm" type="button">+ Add new IOC</a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col align-items-center no-gutters d-flex justify-content-between"><input type="search" id="searchbar" class="search-bar form-control" placeholder="Search IOC" style="color: var(--bs-gray-100);background: var(--bs-primary-rgb);"></div>
  </div>
  <div class="row mb-3">
    <div class="col align-items-center no-gutters d-flex justify-content-between">
      <div class="col-2" style="color: var(--bs-body-bg);background: var(--bs-gray-900);"><span class="invest-header">&nbsp;Name</span></div>
      <div class="col-2" style="color: var(--bs-body-bg);background: var(--bs-gray-900);"><span class="invest-header">&nbsp;Context</span></div>
      <div class="col-4" style="color: var(--bs-body-bg);background: var(--bs-gray-900);"><span class="invest-header">&nbsp;Value</span></div>
      <div class="col-2" style="color: var(--bs-body-bg);background: var(--bs-gray-900);"><span class="invest-header">Linked Investigation</span></div>
      <div class="col-2" style="color: var(--bs-body-bg);background: var(--bs-gray-900);"><span class="invest-header">Actions</span></div>
    </div>
  </div>
  {% if iocs %}
  {% for ioc in iocs %}
  <div class="row" data-role="iocs">
    <div class="col-12 align-items-center no-gutters d-flex justify-content-between"><a class="col-12 align-items-center no-gutters d-flex justify-content-between invest-cell border-bottom open-menu" href="#" style="padding-top: 10px;padding-bottom: 10px;">
      <div class="col-2 align-items-center d-flex" style="color: var(--bs-body-bg);background: rgba(58,59,69,0);"><span class="invest-header">{{ioc.name}}</span></div>
      <div class="col-2 align-items-center d-flex" style="color: var(--bs-body-bg);background: rgba(58,59,69,0);"><span class="invest-header">{{ioc.context}}</span></div>
      <div class="col-4 align-items-center d-flex" style="color: var(--bs-body-bg);background: rgba(58,59,69,0);"><span class="invest-header">{{ioc.value}}</span></div>
      <div class="col-2" style="color: var(--bs-body-bg);background: rgba(58,59,69,0);"><span class="invest-header" style="color: var(--bs-gray-500);">{{ioc.linkedInvestigation.title}}</span></div>
      <div class="col-2 align-items-center d-flex" style="color: var(--bs-body-bg);background: rgba(58,59,69,0);">
        <form style="all: unset;" id="reviewform" action="{% url 'custom_ioc' ioc.id %}" method="GET">
          <input class="btn border border-light btn-dark btn-sm" type="submit" style="margin-right: 10px;" value="Edit">
        </form>
        <button class="btn border border-light btn-danger btn-sm" role="button" onclick="DeleteIOC({{ioc.id}})">Delete</button>
      </div>
    </a>

  </div>
</div>
{% endfor %}
{% endif %}

</div>

  <form action="" method="POST">
    {% csrf_token %}
  </form>
  <script>
    $("#searchbar").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $('div[data-role="iocs"]').filter(function() {
        $(this).toggle($(this).find('span').text().toLowerCase().indexOf(value) > -1)
      });
    });
    //Ask for IOC deletion
    function DeleteIOC(id){
      const csrf = document.getElementsByName('csrfmiddlewaretoken');
      const fd = new FormData();
      fd.append('csrfmiddlewaretoken', csrf[0].value);
      fd.append('ioc_id', id);
      $.ajax({
        type:'POST',
        url: "{% url 'delete_ioc' %}",
        enctype: 'multipart/form-data',
        data: fd,
        beforeSend: function(){
        },
        success: function(response){
          location.reload();
        },
        error: function(error){

        },
        cache: false,
        contentType : false,
        processData: false
      });
    }


  </script>
  {% endblock content %}
