<!---
Filename : files.html
Analysis type : Windows
Description :
  Included in the "reviewinvest.html", this file represent the "Files" tab.
  The user can try to dump a file. If successfull, a zipfile containing the dumped file(s) is downloaded
--->
<div class="tab-pane fade" role="tabpanel" id="tab-16">
  <div class="row">
    <div class="col">
      <div class="mt-3 mb-3 col align-items-center no-gutters d-flex justify-content-between">
        <input type="search" id="search_files" class="search-bar form-control" placeholder="Look for something" style="color: var(--bs-gray-100);background: var(--bs-primary-rgb);">
      </div>
      <div class="table-responsive fw-lighter">
        <table class="table table-sm">
          <thead style="color: var(--bs-light);">
            <tr>
              <th>Offset</th>
              <th>File</th>
              <th>Size</th>
              <th class="text-center" >Action</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="FileScanTab">
            <!--- We Display all the files --->
            {% if FileScan %}
            {% for files in FileScan %}
              <tr>
                <td class="w-25" >{{files.Offset }}</td>
                <td class="w-50 text-break">{{files.Name}}</td>
                <td>{{files.Size}}</td>
                <td class="text-center">
                  <!-- This is where the different states for a file dump option are represented -->
                  <button class="btn btn-info btn-sm fdump-try-{{files.Offset}}" onclick="DemandFileDump('{{files.Offset}}','{{case.id}}')" type="button"><i class="fas fa-download"></i>&nbsp;Dump</button>
                  <button class="btn btn-info btn-sm d-none fdump-load-{{files.Offset}}" type="button"><span class="spinner-border spinner-border-sm" role="status"></span></button>
                  <button class="btn btn-success btn-sm d-none fdump-ok-{{files.Offset}}" type="button"><i class="fas fa-check"></i></button>
                  <button class="btn-danger d-none btn-sm fdump-ko-{{files.Offset}}" type="button" disabled="disabled">X</button>
                  <!-- This is where the different states of VirusTotal Check option are represented -->
                  <button class="btn btn-sm text-white vtcheck-try-{{files.Offset}}" style="background-color:#3a4eff;" onclick="DemandVTCheck('{{files.Offset}}','{{case.id}}')" type="button"><i class="fas fa-eye"></i>&nbsp;VT Hash Check</button>

                </td>
                <td class="w-10">
                  <div class="dropdown no-arrow">
                    {% if files.Tag == "Evidence"%}
                    <strong class="badge bg-danger text-wrap tag_evidence_{{files.id}}">Evidence</strong>
                    <strong class="badge bg-warning text-wrap d-none tag_suspicious_{{files.id}}">Suspicious</strong>
                    {% elif files.Tag == "Suspicious" %}
                    <strong class="badge bg-warning text-wrap tag_suspicious_{{files.id}}">Suspicious</strong>
                    <strong class="badge bg-danger text-wrap d-none tag_evidence_{{files.id}}">Evidence</strong>
                    {% else %}
                    <strong class="badge bg-danger text-wrap d-none tag_evidence_{{files.id}}">Evidence</strong>
                    <strong class="badge bg-warning text-wrap d-none tag_suspicious_{{files.id}}">Suspicious</strong>
                    {% endif %}
                    <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                      <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                          <p class="text-center dropdown-header">Tag as</p>
                          <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'tag'%}&quot;, 'FileScan', {{files.id}}, 'Suspicious')">
                              <strong class="badge bg-warning text-wrap text-warning">&nbsp;</strong>
                            &nbsp;Suspicious
                          </a>
                          <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'tag'%}&quot;, 'FileScan', {{files.id}}, 'Evidence')">
                            <strong class="badge bg-danger text-wrap text-danger">&nbsp;</strong>
                            &nbsp;Evidence
                          </a>
                          <div class="dropdown-divider">
                          </div>
                          <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'tag'%}&quot;, 'FileScan', {{files.id}}, 'Clear')">&nbsp;Clear tag</a>
                      </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td>Nothing found.</td>
              </tr>
              {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="text-dark modal-title" id="exampleModalLabel">VirusTotal scan result</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="text-dark modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div id="meaningful_name"></div>
              <div id="file_hash"></div>
              <div id="pie_chart" style="height:20rem;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6 class="h6"><b>Crowdsourced YARA rules</b></h6>
              <ul class="list-group list-group-flush" id="match_yara">
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6 class="h6"><b>Dynamic Analysis Sandbox Detections</b></h6>
              <ul class="list-group list-group-flush" id="sandbox">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>

  function DownloadFile(file_id){
    /*
    Description:
      We have a file_id (FileDump model) we request to download the associated zipfile
      Triggered by "DemandFileDump"
    */
    $('#action-form').attr('action', '{% url 'download_file' %}');
    $("#action-form").append("<input class='d-none' name='id' value="+file_id+">");
    $("#action-form").submit();
  }

  function DemandVTCheck(offset, case_id){
    /*
    Description:
      The user clicked on the "VT Hash Check" button
    */
    const csrf = document.getElementsByName('csrfmiddlewaretoken');
    const fd = new FormData();
    fd.append('csrfmiddlewaretoken', csrf[0].value);
    fd.append('case_id', case_id);
    fd.append('offset', offset);
    $.ajax({
      type:'POST',
      url: "{% url 'vt_hash_check' %}",
      enctype: 'multipart/form-data',
      data: fd,
      beforeSend: function(){
        $('#proc-message-info').html("Checking");
        $('.toast-proc-info').toast('show');
      },
      success: function(response){
        if (response['message'] == "success") {
            $('#pie_chart').html("");
          $('#meaningful_name').html("Meaningful Name : " + response['meaningful_name'] )
          $('#file_hash').html("sha256 : " + response['SHA256'] )

        var data = [
            {x: "Failure", value: response['failure']},
            {x: "Harmless", value: response['harmless']},
            {x: "Unsupported", value: response['type-unsupported']},
            {x: "Suspicious", value: response['suspicious']},
            {x: "Confirmed Timeout", value: response['confirmed-timeout']},
            {x: "Timeout", value: response['timeout']},
            {x: "Malicious", value: response['malicious']},
            {x: "Undetected", value: response['undetected']}
          ];

          crowdsourced_yara_results = response['crowdsourced_yara_results'];
          $('#match_yara').html("");

          $.each(crowdsourced_yara_results, function(i, val) {
              $('#match_yara').append("\
              <li class='list-group-item'>Matched rule <span class='text-warning'> "+ val.ruleset_name + " </span>\
              by " + val.author + " : " + val.description + "\
              </li>");
            });


            sandbox_verdicts = response['sandbox_verdicts'];


            $('#sandbox').html("");
            $.each(sandbox_verdicts, function(i, val) {
                $('#sandbox').append("\
                <li class='list-group-item'>The sandbox <span class='text-warning'> "+ val.sandbox_name + " </span>\
                detected this file as " + val.category + " and classified as : " + val.malware_classification + "</li>");
              });



          var chart = anychart.pie(data);
          chart.labels().position("outside");
          chart.connectorStroke({color: "#595959", thickness: 2, dash:"2 2"});
          // set the container id
          chart.container("pie_chart");
          // initiate drawing the chart
          chart.draw();
          $('#exampleModal').modal('show')




        }

        if (response['message'] == "error")
        {
          $('#proc-error-message').html("The offset provided is not valid");
          $('.toast-proc-error').toast('show');
        }

        if (response['message'] == "failed_1"){
          $('#proc-failed-message').html("Virus total : " + response['error']);
          $('.toast-proc-failed').toast('show');
        }

        if (response['message'] == "failed_2"){
          $('#proc-failed-message').html("The requested file could not be dumped therefore not analysed.");
          $('.toast-proc-failed').toast('show');
        }

      },
      error: function(error){
        $('#proc-failed-message').html("Could not dump the file requested.");
        $('.toast-proc-failed').toast('show');
      },
      cache: false,
      contentType : false,
      processData: false
    });
  }






  function DemandFileDump(offset, case_id){
    /*
    Description:
      The user clicked on the "Dump" button
      We ask celery to try to dump the file via a task.
      If the output is a success, then a "Dumpfile" model was created and the associated id is returned.
      The "DownloadFile" function is then triggered to download the associated zipfile.
      Else, the appropriate error message is displayed. Which means that volatility3 couln't dump the file
      or that the input was inappropriate.
    */
    const csrf = document.getElementsByName('csrfmiddlewaretoken');
    const fd = new FormData();
    fd.append('csrfmiddlewaretoken', csrf[0].value);
    fd.append('case_id', case_id);
    fd.append('offset', offset);
    $.ajax({
      type:'POST',
      url: "{% url 'dump_file' %}",
      enctype: 'multipart/form-data',
      data: fd,
      beforeSend: function(){
        $('.fdump-try-'+offset).addClass("d-none");
        $('.fdump-load-'+offset).removeClass("d-none");
        $('#proc-message-info').html("Trying to dump your file...");
        $('.toast-proc-info').toast('show');
      },
      success: function(response){
        if (response['message'] == "success") {
          $('#proc-success-message').html("Your file was successfully dumped");
          $('.toast-proc-success').toast('show');
          $('.fdump-load-'+offset).addClass("d-none");
          $('.fdump-ok-'+offset).removeClass("d-none");
          file_id = response['id']
          DownloadFile(file_id)
        }

        if (response['message'] == "error")
        {
          $('#proc-error-message').html("The offset provided is not valid");
          $('.toast-proc-error').toast('show');
        }

        if (response['message'] == "failed"){
          $('.fdump-load-'+offset).addClass("d-none");
          $('.fdump-ko-'+offset).removeClass("d-none");
          $('#proc-failed-message').html("The requested file could not be dumped");
          $('.toast-proc-failed').toast('show');
        }

        if (response['message'] == "exist"){
          $('#proc-success-message').html("Your file was successfully dumped");
          $('.toast-proc-success').toast('show');
          $('.fdump-load-'+offset).addClass("d-none");
          $('.fdump-ok-'+offset).removeClass("d-none");
          dump_id = response['id']
          DownloadFile(dump_id)
        }
      },
      error: function(error){
        $('#proc-failed-message').html("Could not dump the file requested.");
        $('.toast-proc-failed').toast('show');
      },
      cache: false,
      contentType : false,
      processData: false
    });
  }
</script>
