.completed:hover {
    cursor: pointer;
}

.page-item.active .page-link {
    z-index: 3;
    color: #000;
    background-color: #fff;
    border-color: #000;
}

.dataTable {
    color: #252f40;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
}

.not-completed {
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowing {
    from {
        text-shadow: 0 0 20px #ffffff;
    }

    to {
        text-shadow: 0 0 30px #767676;
    }
}

.border-purple-subtle {
    border-color: #90086e !important;
}

.text-purple-emphasis {
    color: #f66ee1 !important;
}

.bg-purple-subtle {
    background-color: #300329 !important;
}

.text-purple {
    --bs-text-opacity: 1;
    color: #f66ee1 !important;
}
