<!-- Investigation malware_analysis_malfind -->
<button class="btn btn-dark border border-dark" type="button" data-bs-toggle="collapse" data-bs-target=#collapseMalfind>
  Malfind
</button>

<div class="collapse mt-5" id="collapseMalfind">
  <div class="d-inline">
    <input class="form-control mb-3" id="searchMalfind" type="text" placeholder="Search..">
  </div>
  {% for matches in malfind %}

  <div id="malfind-btn" class="accordion accordion-flush" id="accordionFlush{{ forloop.counter }}">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="bg-light accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapseOne">
          <p class="text-dark">{{matches.PID}} -> {{matches.Process}}</p>
        </button>
      </h2>
      <div id="flush-collapseOne{{ forloop.counter }}" class="accordion-collapse collapse bg-light" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush{{ forloop.counter }}">
        <div class="accordion-body">
          <div class="row">
            <div class="col text-dark"><code>{{matches.Disasm}}</code></div>
            <div class="col text-dark text-right"><code>{{matches.Hexdump}}</code></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
