<!-- Investigation malware_analysis_skeleton_key_check -->
<button class="btn btn-dark border border-dark" type="button" data-bs-toggle="collapse" data-bs-target=#collapseSkeleton>
  Skeleton Key Check
</button>
<div class="collapse mt-5" id="collapseSkeleton">
  <table id="SkeletonTable" class="table table-light  card-font skeleton">
    <thead>
      <tr>
        <th scope="col">PID</th>
        <th scope="col">Process</th>
        <th scope="col">Skeleton Key Found</th>
        <th scope="col">rc4HmacInitialize</th>
        <th scope="col">rc4HmacDecrypt</th>
      </tr>
    </thead>
    <tbody id="SkeletonTab">
      {% for files in skeleton %}
        <tr>
          <td>{{files.Offset }}</td>
          <td>{{files.Name}}</td>
          <td>{{files.Size}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
