{% extends "dashboard/base.html" %}
{% load static %}
{% block content%}
  <div class="container-fluid" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-8">
              <div id="chart" class="opacity-75" style="height:30rem;"></div>
            </div>
            <div class="col-md-4">
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <th>Forensics Analysts</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for u in Users %}
                          <tr>
                              <td>{{u.username}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
          <div class="col-1"></div>
            <div class="col-2">
                <div class="card bg-light border border-dark">
                    <div class="card-body">
                        <h4 class="card-title text-dark">Analysis</h4>
                        <h6 class="fs-1 text-primary card-subtitle mb-2" id="memcount" countTomem="{{investigations}}"></h6><a class="card-link text-dark" href="{% url 'investigations' %}">View&gt;</a><a class=" text-dark card-link" href="{% url 'newinvest' %}">Create&gt;</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card bg-light border border-dark">
                    <div class="card-body">
                        <h4 class="card-title text-dark">IOCs</h4>
                        <h6 class="fs-1 text-danger card-subtitle mb-2" id="indcount" countToind="{{iocs}}"></h6><a class="text-dark card-link" href="{% url 'iocs' %}">View&gt;</a><a class="text-dark card-link" href="{% url 'newioc' %}">Create&gt;</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card bg-light border border-dark">
                    <div class="card-body">
                        <h4 class="card-title text-dark">ISF</h4>
                        <h6 class="fs-1 text-success card-subtitle mb-2" id="symcount" countToSym="{{symbols}}"></h6><a class="text-dark card-link" href="{% url 'symbols' %}">View&gt;</a><a class="text-dark card-link" href="{% url 'add_symbols' %}">Create&gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/countup.min.js'%}"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
    <script>
    let lightSwitch = document.getElementById("lightSwitch");
    // create data
    var data = [];
    var data_raw = JSON.parse("{{Activity|escapejs}}");
    for (var i in data_raw){
      data.push([data_raw[i]["pk"],data_raw[i]["fields"]["count"]]);
    }

    // create a chart
    chart = anychart.line();
    // adjust chart settings
     var title = chart.title();
     // enable title
     title.enabled(true);
     // set title text
     title.useHtml(true);
    var title_x = chart.xAxis().title();
    title_x.enabled(true);
    title_x.useHtml(true);


    var title_y = chart.yAxis().title();
    title_y.enabled(true);
    title_y.useHtml(true);


    if (lightSwitch.checked) {
      title.text(
        "<a style=\"color:white; \">Analysis Activities</a>"
      );
      title_x.text(
        "<a style=\"color:white; \">Date</a>"
      );
      title_y.text(
        "<a style=\"color:white; \">Analysis</a>"
      );
      chart.background().fill("#212529");
    }

    else{
      title.text(
        "<a style=\"color:black; \">Analysis Activities</a>"
      );
      title_x.text(
        "<a style=\"color:black; \">Date</a>"
      );
      title_y.text(
        "<a style=\"color:black; \">Analysis</a>"
      );
      chart.background().fill("#f8f9fa");
    }




    // create a line series and set the data
    var series = chart.spline(data);
    series.stroke('3 #32d3bc 0.8');
    // set the container id
    chart.container("chart");
    function change_graph(){
      if (lightSwitch.checked) {
        title.text(
          "<a style=\"color:white; \">Analysis Activities</a>"
        );
        title_x.text(
          "<a style=\"color:white; \">Date</a>"
        );
        title_y.text(
          "<a style=\"color:white; \">Analysis</a>"
        );
        chart.background().fill("#212529");
      }

      else{
        title.text(
          "<a style=\"color:black; \">Analysis Activities</a>"
        );
        title_x.text(
          "<a style=\"color:black; \">Date</a>"
        );
        title_y.text(
          "<a style=\"color:black; \">Analysis</a>"
        );
        chart.background().fill("#f8f9fa");
      }
    }

    // initiate drawing the chart
    chart.draw();
      $(document).ready(function(){
        change_graph();
        lightSwitch.addEventListener("change", change_graph);
        $('.container').show();
        $('.container-fluid').show();
        $('.spinner-main').hide();

      });
    </script>
{% endblock content %}
