{% load static %}
{% load crispy_forms_tags %}
{% load cookiebanner %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VolWeb</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/Login-Form-Clean.css' %}">
</head>

<body>
    <section class="login-clean">
        <form method="post">
            {% csrf_token %}
            <div class="illustration"><img src="{% static '/img/volweblogo.png' %}" style="width: 150px;"></div>
            {{ form|crispy }}
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Log In</button></div><span style="text-align: center;font-size: 12px;">Please refer to your administrator to obtain an account</span>
        </form>
    </section>
    {% cookiebanner_modal 'cookiebanner' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>
