{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VolWeb · Login</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'dashboard/bootstrap.min.css' %}" rel="stylesheet">

  <style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  </style>


  <!-- Custom styles for this template -->
  <link href="{% static 'dashboard/signin.css' %}" rel="stylesheet">
</head>
<body class="text-center text-light">

  <main class="form-signin">
    <form method="POST">
      {% csrf_token %}
      <h1 class="h1 mb-3 fw-normal text-light">You have been disconnected</h1>
      <h1 class="h3 mb-3 fw-normal text-light"><button class="w-100 btn btn-lg btn-classic"><a href="{% url 'login' %}">sign back in</a></button></h1>
    </form>
  </main>


</body>
</html>
