{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>VolWeb</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'main/js/toastr.min.js' %}"></script>
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'main/css/sidebar.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/toastr.min.css'%}">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img width="30" height="24" src="{% static 'main/images/volweb-v.svg'%}">
                    VolWeb
                  </a>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        {% if request.get_full_path == '/'%}
                        <a class="nav-link active" href="{% url 'home' %}">
                            <i class="fas fa-home active icon icon-shape icon-sm shadow border-radius-md text-center me-2 d-flex align-items-center justify-content-center"></i>
                            <span class="nav-link-text ms-1">Home</span>
                        </a>
                        {% else %}
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="fas fa-home icon icon-shape icon-sm shadow border-radius-md text-center me-2 d-flex align-items-center justify-content-center"></i>
                            <span class="nav-link-text ms-1">Home</span>
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if request.get_full_path == '/cases/'%}
                        <a class="nav-link active" href="{% url 'cases' %}">
                            <i class="fas fa-briefcase active icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"></i>
                            <span class="nav-link-text ms-1">Cases</span>
                        </a>
                        {% else %}
                        <a class="nav-link " href="{% url 'cases' %}">
                            <i class="fas fa-briefcase icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"></i>
                            <span class="nav-link-text ms-1">Cases</span>
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if request.get_full_path == '/evidences/'%}
                        <a class="nav-link active" href="{% url 'evidences' %}">
                            <i class="fas fa-memory active icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"></i>
                            <span class="nav-link-text ms-1">Evidences</span>
                        </a>
                        {% else %}
                        <a class="nav-link " href="{% url 'evidences' %}">
                            <i class="fas fa-memory icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"></i>
                            <span class="nav-link-text ms-1">Evidences</span>
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i class="fas fa-table icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"></i>
                            <span class="nav-link-text ms-1">Symbol Tables</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'logout' %}">
                            <i class="fa fa-sign-out icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"></i>
                            <span class="nav-link-text ms-1">Sign out</span>
                        </a>
                    </li>
                </ul>      
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">

              </div>
            </div>
          </nav>
          {% block content %}

          {% endblock %}

        <!-- <div id="wrapper">
            <div id="sidebar" class="flex-shrink-0 p-3" style="width: 250px;">
                <a href="/" class="d-flex align-items-center justify-content-center pb-3 mb-3 link-dark text-decoration-none">
                    <img width="30" height="24" src="{% static 'main/images/volweb-v.svg'%}">
                    <span class="fs-5 fw-semibold">VolWeb</span>
                </a>
                <hr class="horizontal dark">


              </div>
            <div class="divider"></div>
            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                </div>
            </div>
        </div> -->

    </body>
</html>