{% extends "dashboard/base.html" %}
{% load static %}
{% block content%}
<div class="container">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col align-items-center no-gutters d-flex justify-content-between" style="margin-top: 10px;">
            <h4 style="color: var(--bs-white);"><i class="fas fa-table"></i>&nbsp;Symbols (ISF)</h4><button class="btn btn-primary btn-sm" type="button">+ Add new symbols</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col align-items-center no-gutters d-flex justify-content-between"><input type="search" class="search-bar form-control" placeholder="Search symbols" style="color: var(--bs-gray-100);background: var(--bs-primary-rgb);"></div>
    </div>
    <div class="row mb-3">
        <div class="col align-items-center no-gutters d-flex justify-content-between">
            <div class="col-2" style="color: var(--bs-body-bg);background: var(--bs-gray-900);"><span class="invest-header">&nbsp;Name</span></div>
            <div class="col-4" style="color: var(--bs-body-bg);background: var(--bs-gray-900);"><span class="invest-header">Description</span></div>
            <div class="col-2" style="color: var(--bs-body-bg);background: var(--bs-gray-900);"><span class="invest-header">Operating system</span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 align-items-center no-gutters d-flex justify-content-between"><a class="col-12 align-items-center no-gutters d-flex justify-content-between invest-cell border-bottom open-menu" href="#" style="padding-top: 10px;padding-bottom: 10px;">
                <div class="col-2 align-items-center d-flex" style="color: var(--bs-body-bg);background: rgba(58,59,69,0);"><span class="invest-header">Debian11-amd-64.json</span></div>
                <div class="col-4" style="color: var(--bs-body-bg);background: rgba(58,59,69,0);"><span class="invest-header">Description du bazar</span></div>
                <div class="col-2" style="color: var(--bs-body-bg);background: rgba(58,59,69,0);"><span class="invest-header" style="color: var(--bs-gray-500);">Window</span></div>
            </a></div>
    </div>
</div>



<div class="sidebar2">
    <div class="dismiss" style="background: var(--bs-blue);"><i class="fa fa-caret-right"></i></div>
    <div class="brand" style="padding-bottom: 14px;padding-top: 17px;"><i class="fa fa-windows" style="font-size: 43px;padding-right: 16px;"></i><a class="navbar-brand" href="index.html" style="color: var(--bs-pink);">Debian11-amd64</a></div>
    <div class="col-md-10 mb-4" style="margin-left: 25px;margin-top: 20px;"><span style="color: var(--bs-cyan);">Description</span>
        <p class="sidebar-text">Description of the isf</p>
        <hr>
    </div>
    <div class="col-md-10 mb-4" style="margin-left: 25px;margin-top: 20px;"><span style="color: var(--bs-cyan);">File</span>
        <p class="sidebar-text">debian11-amd-64.json</p>
        <hr>
    </div>
    <div class="col-md-10 mb-4" style="margin-left: 25px;margin-top: 20px;"><span style="color: var(--bs-cyan);">Actions</span><a class="invest-card-link" href="#">
            <div class="card shadow border-start-primary invest-card" style="background: rgba(0,0,0,0.25);border-style: none;margin-top: 10px;">
                <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
                    <div class="row align-items-center no-gutters">
                        <div class="col-auto"><i class="fas fa-link fa-2x text-gray-600"></i></div>
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="color: var(--bs-purple);">Bind</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </a><a class="invest-card-link" href="review_invest.html">
            <div class="card shadow border-start-primary invest-card" style="background: rgba(0,0,0,0.25);border-style: none;margin-top: 10px;">
                <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
                    <div class="row align-items-center no-gutters">
                        <div class="col-auto"><i class="fas fa-unlink fa-2x text-gray-600"></i></div>
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="color: var(--bs-cyan);">Unbind</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </a><a class="invest-card-link" href="#">
            <div class="card shadow border-start-primary invest-card" style="background: rgba(0,0,0,0.25);border-style: none;margin-top: 10px;">
                <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
                    <div class="row align-items-center no-gutters">
                        <div class="col-auto"><i class="far fa-edit fa-2x text-gray-600"></i></div>
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="color: var(--bs-orange);">Edit</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </a><a class="invest-card-link" href="#">
            <div class="card shadow border-start-primary invest-card" style="background: rgba(0,0,0,0.25);border-style: none;margin-top: 10px;">
                <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
                    <div class="row align-items-center no-gutters">
                        <div class="col-auto"><i class="far fa-trash-alt fa-2x text-gray-600"></i></div>
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="color: var(--bs-pink);">Delete</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <hr>
    </div>
</div>
<div class="overlay"></div>


{% include "investigations/toasts.html" %}

  <script>
    $(document).ready(function(){
      $('.container').show();
      $('.container-fluid').show();
      $('.spinner-main').hide();
      //Symbols search bar
      $("#searchSymb").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#symbolsTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    function Bind(){
      const symbols_id = $('#id_bind_symbols').val()
      var selected_case = $('#id_bind_investigation option:selected').val()
      if(selected_case){
        $('#alert-box').html("");
        $('#BindModal').modal('hide')
        const csrf = document.getElementsByName('csrfmiddlewaretoken');
        const fd = new FormData();
        fd.append('csrfmiddlewaretoken', csrf[0].value);
        fd.append('bind_symbols', symbols_id);
        fd.append('bind_investigation', selected_case);
        $.ajax({
          type:'POST',
          url: "{% url 'bind_symbols' %}",
          enctype: 'multipart/form-data',
          data: fd,
          beforeSend: function(){
          },
          success: function(response){
            if (response['message'] == "success"){
              $('#proc-success-message').html("Your ISF is now linked to '" + $('#id_bind_investigation option:selected').text()) + "'";
              $('.toast-proc-success').toast('show');
            }
          },
          error: function(error){
            $('#proc-failed-message').html("Something went wrong ! ");
            $('.toast-proc-failed').toast('show');
          },
          cache: false,
          contentType : false,
          processData: false
        });
      }
      else{
        $('#alert-box').html("Please select an investigation");
      }
    }

    function Unbind(){
      const symbols_id = $('#id_unbind_symbols').val()
      var selected_case = $('#id_unbind_investigation option:selected').val()
      if(selected_case){
        $('#alert-box').html("");
        $('#UnbindModal').modal('hide')
        const csrf = document.getElementsByName('csrfmiddlewaretoken');
        const fd = new FormData();
        fd.append('csrfmiddlewaretoken', csrf[0].value);
        fd.append('unbind_symbols', symbols_id);
        fd.append('unbind_investigation', selected_case);
        $.ajax({
          type:'POST',
          url: "{% url 'unbind_symbols' %}",
          enctype: 'multipart/form-data',
          data: fd,
          beforeSend: function(){
          },
          success: function(response){
            if (response['message'] == "success"){
              $('#proc-success-message').html("Your ISF is now unlinked from '" + $('#id_unbind_investigation option:selected').text() + "'");
              $('.toast-proc-success').toast('show');
            }
          },
          error: function(error){
            $('#proc-failed-message').html("Something went wrong ! ");
            $('.toast-proc-failed').toast('show');
          },
          cache: false,
          contentType : false,
          processData: false
        });
      }
      else{
        $('#alert-box').html("Please select an investigation");
      }
    }

    //Ask for symbols deletion
    function DeleteSymbols(id){
      const csrf = document.getElementsByName('csrfmiddlewaretoken');
      const fd = new FormData();
      fd.append('csrfmiddlewaretoken', csrf[0].value);
      fd.append('symbols', id);
      $.ajax({
        type:'POST',
        url: "{% url 'delete_symbols' %}",
        enctype: 'multipart/form-data',
        data: fd,
        beforeSend: function(){
        },
        success: function(response){
          location.reload();
        },
        error: function(error){

        },
        cache: false,
        contentType : false,
        processData: false
      });
    }

  </script>
  {% endblock content %}
