.card {
    align-items: center;

}
  .card-title {
      font-weight: bold;
  }

  .card{
      background-color:#293b58;
  }

  ul.no-bullets {
      list-style-type: none; /* Remove bullets */
  }

  .h3 {
      color: #eb1f5a;
      float:right;
  }
  .subtdb{
      float:right;
  }
  th {
      color: #5ce6ff;
  }
  tr {
      color: #ffffff;
  }
  .mid-section{
      background-color:#293b58;
  }
  .mem-color{
      color: #32d3bc;
  }
  .ind-color{
      color: #eb1f5a;
  }
  #chart {
         height: 22rem;
  }
