.active.fas.fa-home.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-light);
}

.active.fas.fa-briefcase.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-light);
}

.active.fas.fa-table.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-light);
}

.active.fas.fa-memory.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-light);
}

[data-bs-theme=light] .fas.fa-upload.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-dark);
}

[data-bs-theme=dark] .fas.fa-upload.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-light);
}

[data-bs-theme=light] .fas.fa-plus.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-dark);
}

[data-bs-theme=dark] .fas.fa-plus.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-light);
}


[data-bs-theme=light] .fas.fa-suitcase.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-dark);
}

[data-bs-theme=dark] .fas.fa-suitcase.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-light);
}

.icon {
  display: inline-block;
  color: #111111;
  height: 1em;
  width: 1em;
}

.hide-by-default {
  display: none;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}


hr.horizontal {
  background-color: transparent;
}


.nav-link {
  color: #252f40;
  padding: 0.5rem 1rem;
  font-weight: 400;
  font-size: 0.875rem;
  border-radius: .5rem;
}


.nav-link {
  display: block;
  padding: .5rem 1rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  border-radius: .5rem;
}

@media (prefers-reduced-motion:reduce) {
  .nav-link {
    transition: none;
  }
}

.icon-sm {
  width: 24px;
  height: 24px;
}

.border-radius-md {
  border-radius: .5rem;
}

.border-radius-xl {
  border-radius: 1rem;
}


[data-bs-theme=light] hr.horizontal.dark {
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .4), transparent);
}

[data-bs-theme=dark] hr.horizontal.dark {
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
}


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-bs-theme=ligth] a {
  letter-spacing: -.025rem;
  color: #000;
}

[data-bs-theme=dark] a {
  letter-spacing: -.025rem;
  color: #ffffff;
}


.text-xs {
  line-height: 1.25;
}

.text-xs {
  font-size: .75rem !important;
}


.font-weight-bolder {
  font-weight: 700 !important;
}

.nav-item {
  width: 200px;
}

.nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav-link-text {
  transition: .3s ease;
  opacity: 1;
}


[data-bs-theme=light] .nav-link.active {
  color: #252f40;
  background-color: #fff;
}

[data-bs-theme=dark] .nav-link.active {
  color: #fff;
  background-color: #252f40;
}

.nav-link.active .icon {
  background-image: linear-gradient(310deg, #101010, #ffffff);
}

.nav-link:hover {
  transition: transform 1s;
  /* Animation */
  color: #555;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05);
  background-color: rgba(59, 113, 202, .05);
  border-radius: .5rem;
}