.active.fas.fa-home.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-light);
}

.active.fas.fa-briefcase.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-light);
}

.active.fas.fa-table.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-light);
}
.active.fas.fa-memory.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-light);
}

.icon {
  display: inline-block;
  color: #111111;
  height: 1em;
  width: 1em;
}


hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}


hr.horizontal {
  background-color: transparent;
}

hr.horizontal.dark {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}


.nav-link {
  color: #252f40;
  padding: 0.5rem 1rem;
  font-weight: 400;
  font-size: 0.875rem;
}



.nav-link {
  display: block;
  padding: .5rem 1rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
  .nav-link {
    transition: none;
  }
}

.icon-sm {
  width: 32px;
  height: 32px;
}


.border-radius-md {
  border-radius: .5rem;
}

.border-radius-xl {
  border-radius: 1rem;
}

@media (max-width:767.98px) {
  hr.horizontal.dark {
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.4),transparent);
  }
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  letter-spacing: -.025rem;
  color: #000;
}

.text-xs {
  line-height: 1.25;
}

.text-xs {
  font-size: .75rem!important;
}


.font-weight-bolder {
  font-weight: 700!important;
}

.nav-item{
  width: 200px;
}

.nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}


.nav-link-text {
  transition: .3s ease;
  opacity: 1;
}


.nav-link.active {
  font-weight: 600;
  box-shadow: 0 20px 27px 0 rgba(0,0,0,.05);
  border-radius: .5rem;
}

.nav-link.active {
  color: #252f40;
  background-color: #fff;
}

.nav-link.active .icon {
  background-image: linear-gradient(310deg,#101010,#d2d2d2);
}

.nav-link:hover{
  transition: transform 1s; /* Animation */
  color: #555;
  box-shadow: 0 20px 27px 0 rgba(0,0,0,.05);
  background-color: rgba(59,113,202,.05);
  border-radius: .5rem;
}

#wrapper{display:flex}
#wrapper #content-wrapper
{
  height: 95vh;
  width:100%;
}
#wrapper #content-wrapper #content{flex:1 0 auto}

#sidebar{
  height: 100vh;
  width:100%;
  background-color:#f8f9fc;}

  