<!---
Filename : timeline.html
Analysis type : Windows
Description :
Included in the "review_invest.html", this file represent the "Timeline" tab.
It is using anychart to display an enhanced visualisation of the Timeline volatility3 plugin.
If the user click on a specified time in the chart, the filter is applied.
--->
<div class="tab-pane fade" role="tabpanel" id="tab-15">
  <div class="row">
    <div class="col">
      <div style="height:20rem;" class="text-white" id="container-timeline"></div>
      <div class="col align-items-center no-gutters d-flex justify-content-between">
        <input type="search" id="searchTimeline" class="search-bar form-control" placeholder="Search.." style="color: var(--bs-gray-100);background: var(--bs-primary-rgb);">
      </div>
      <div class="table-responsive fw-lighter">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Accessed Date</th>
              <th>Changed Date</th>
              <th>Created Date</th>
              <th>Description</th>
              <th>Modified Date</th>
              <th>Pluging</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="TimelineTab">
            {% for event in Timeliner %}
            <tr>
              <td>{{event.AccessedDate}}</td>
              <td>{{event.ChangedDate}}</td>
              <td>{{event.CreatedDate}}</td>
              <td>{{event.Description}}</td>
              <td>{{event.ModifiedDate}}</td>
              <td>{{event.Plugin}}</td>
              <td class="w-25">
                <div class="dropdown no-arrow">
                  {% if event.Tag == "Evidence"%}
                  <strong class="badge bg-danger text-wrap tag_evidence_{{event.id}}_Timeliner">Evidence</strong>
                  <strong class="badge bg-warning text-wrap d-none tag_suspicious_{{event.id}}_Timeliner">Suspicious</strong>
                  {% elif event.Tag == "Suspicious" %}
                  <strong class="badge bg-warning text-wrap tag_suspicious_{{event.id}}_Timeliner">Suspicious</strong>
                  <strong class="badge bg-danger text-wrap d-none tag_evidence_{{event.id}}_Timeliner">Evidence</strong>
                  {% else %}
                  <strong class="badge bg-danger text-wrap d-none tag_evidence_{{event.id}}_Timeliner">Evidence</strong>
                  <strong class="badge bg-warning text-wrap d-none tag_suspicious_{{event.id}}_Timeliner">Suspicious</strong>
                  {% endif %}
                  <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                        <p class="text-center dropdown-header">Tag as</p>
                        <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'win_tag'%}&quot;, 'Timeliner', {{event.id}}, 'Suspicious')">
                            <strong class="badge bg-warning text-wrap text-warning">&nbsp;</strong>
                          &nbsp;Suspicious
                        </a>
                        <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'win_tag'%}&quot;, 'Timeliner', {{event.id}}, 'Evidence')">
                          <strong class="badge bg-danger text-wrap text-danger">&nbsp;</strong>
                          &nbsp;Evidence
                        </a>
                        <div class="dropdown-divider">
                        </div>
                        <a class="dropdown-item" href="#" onclick="Tag(&quot;{% url 'win_tag'%}&quot;, 'Timeliner', {{event.id}}, 'Clear')">&nbsp;Clear tag</a>
                    </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  function displayTimeLine(date){
    document.getElementById('searchTimeline').value = date.toString();
    $('#searchTimeline').keyup();
    }
    // create data
    var data = JSON.parse("{{TimeLineChart.graph|escapejs}}");
    // create a chart
    var chart = anychart.line();
    // create a line series and set the data
    var series = chart.line(data);
    chart.xScroller(true);
    chart.listen("click", function(x) {
      index = x.pointIndex;
      displayTimeLine(data[index][0]);
    });

    // set the titles of the axes
    var xAxis = chart.xAxis();
    xAxis.title("Time");
    var yAxis = chart.yAxis();
    yAxis.title("Events");
    chart.background().fill("#081327");
    var animationSettings = chart.animation();

    animationSettings.duration(1000);
    animationSettings.enabled(true);
    // set the container id
    chart.container("container-timeline");
    // initiate drawing the chart
    chart.draw();
</script>
