<!---
Filename : investigations.html
Analysis type : Windows & Linux
Description :
Display all the investigations and their analysis status.
The content is refreshed every 60 seconds using the "refresh()" function.
When an investigation is clicked, the sidebar is showed with the appropriate actions based on the status.
--->
{% extends "dashboard/base.html" %}
{% load static %}
{% block content%}
<div class="container" id="main" data-url="{% url 'investigations' %}">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col align-items-center no-gutters d-flex justify-content-between" style="margin-top: 10px;">
      <h4 style="color: var(--bs-white);"><i class="fas fa-briefcase"></i>&nbsp;Investigations</h4>
      <a href="{% url 'new_invest'%}" class="btn btn-primary btn-sm" type="button">
        <i class="fa-thin fa-plus"></i>
        &nbsp;
        Create a new investigation
      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col align-items-center no-gutters d-flex justify-content-between">
      <input type="search" id="searchbar" class="search-bar form-control" placeholder="Search an investigation"  style="color: var(--bs-gray-100);background: var(--bs-primary-rgb);">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col align-items-center no-gutters d-flex justify-content-between">
      <div class="col-2 invest-table-header"><span class="invest-header">&nbsp;Name</span></div>
      <div class="col-4 invest-table-header"><span class="invest-header">&nbsp;File Name</span></div>
      <div class="col-2 invest-table-header"><span class="invest-header">&nbsp;Linked ISF</span></div>
      <div class="col-1 invest-table-header"><span class="invest-header">&nbsp;OS</span></div>
      <div class="col-2 text-center invest-table-header"><span class="invest-header">&nbsp;Status</span></div>
    </div>
  </div>
  {% if investigations %}
  <div id="all-investigations" data-url="{% url 'get_invest' %}">
    {% for i in investigations %}
    <div class="row" data-role="investigations" id="{{i.id}}" data-url="{% url 'custom_invest' i.id %}">
      <div class="col-12 align-items-center no-gutters d-flex justify-content-between">
        {% if i.status == '-1' %}
        <a class="col-12 align-items-center no-gutters d-flex justify-content-between invest-cell border-bottom">
          {% else %}
          <a onclick="GetInvest({{i.id}})" class="col-12 align-items-center no-gutters d-flex justify-content-between invest-cell border-bottom" href="#">
            {% endif %}
            <div class="invest-cell col-2 align-items-center d-flex"><i class="fas fa-memory"
                style="font-size: 15px;transform: rotate(116deg);margin-right: 4px;"></i>
              <span class="invest-header">{{i.title}}</span>
            </div>
            <div class="invest-cell col-4 text-truncate"><span class="invest-header">{{i.name}}</span></div>
            {% if i.linked_isf %}
            <div class="invest-cell col-2"><span class="invest-header"
                style="color: var(--bs-gray-500);">{{i.linked_isf.name}}</span></div>
            {% else %}
            <div class="invest-cell col-2"><span class="invest-header" style="color: var(--bs-gray-500);">No linked
                ISF</span></div>
            {% endif %}

            {% if i.os_version == "Windows" %}
            <div class="invest-cell col-1"><span class="invest-header" style="color: var(--bs-cyan);">&nbsp;<i
                  class="fa-brands fa-windows"></i>&nbsp;Windows</span></div>
            {% endif %}
            {% if i.os_version == "Linux" %}
            <div class="invest-cell col-1"><span class="invest-header" style="color: #ff0f00;">&nbsp;<i
                  class="fa-brands fa-linux"></i>&nbsp;Linux</span></div>
            {% endif %}
            {% if i.os_version == "MacOs" %}
            <!--- Nothing yet -->
            {% endif %}
            {% if i.status == '-1' %}
            <div class="col-2 text-center" style="color: var(--bs-body-bg);background: rgba(58,59,69,0);">
              <span class="invest-header text-muted">Upload in progress...</span>
            </div>

            {% elif i.status == '4' or i.status == '2' %}
            <div class="col-2 text-center" style="color: var(--bs-body-bg);background: rgba(58,59,69,0);">
              <span class="invest-header" style="color: var(--bs-green);">Ready</span>
            </div>
            {% elif i.status == '2' %}
            {% elif i.status == '1' %}
            <div class="col-2 text-center invest-item" style="color: var(--bs-body-bg);background: rgba(58,59,69,0);">
              {% include "investigations/spinner2.html" %}
            </div>
            {% else %}
            <div class="col-2 text-center" style="color: var(--bs-body-bg);background: rgba(58,59,69,0);"><span
                class="invest-header" style="color: var(--bs-pink);">Not started</span></div>
            {% endif %}
          </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
<div class="sidebar2">
  <div class="spinnerside align-items-center justify-content-center no-gutters h-100 d-flex">
    <div class="spinner-border" role="status">
    </div>
  </div>
  <div class="sidecontent d-none">
      <div class="brand row align-items-center no-gutters">
        <div class="col-auto sidebar-invest-logo"></div>
        <div class="col me-2">
          <a class="sidebar-invest-name navbar-brand" href="index.html" style="color: var(--bs-pink);">Investigation Name</a>
        </div>
      </div>
      <div class="col-md-10 mb-4" style="margin-left: 25px;margin-top: 20px;"><span
          style="color: var(--bs-cyan);">Description</span>
        <p class="sidebar-text sidebar-invest-desc">Description here</p>
        <hr>
      </div>
      <div class="col-md-10 mb-4" style="margin-left: 25px;margin-top: 20px;"><span
          style="color: var(--bs-cyan);">Team</span>
        <p class="sidebar-text sidebar-invest-team">Team here</p>
        <hr>
      </div>
      <div class="col-md-10 mb-4" style="margin-left: 25px;margin-top: 20px;"><span
          style="color: var(--bs-cyan);">Actions</span>
    
        <a class="invest-card-link card-start a-start" data-url="{% url 'start_analysis' %}" href="#">
          <div class="card shadow border-start-primary invest-card"
            style="background: rgba(0,0,0,0.25);border-style: none;margin-top: 10px;">
            <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
              <div class="row align-items-center no-gutters">
                <div class="col-auto"><i class="fas fa-rocket fa-2x text-gray-600"></i></div>
                <div class="col me-2">
                  <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                    <span style="color: var(--bs-purple);">Start memory analysis</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a class="invest-card-link card-review a-review" data-url="{% url 'review_invest' %}" href="#">
          <div class="card shadow border-start-primary invest-card"
            style="background: rgba(0,0,0,0.25);border-style: none;margin-top: 10px;">
            <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
              <div class="row align-items-center no-gutters">
                <div class="col-auto"><i class="fas fa-glasses fa-2x text-gray-600"></i></div>
                <div class="col me-2">
                  <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                    <span style="color: var(--bs-cyan);">Review investigation</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
    
        <a class="invest-card-link card-custom a-custom" href="#">
          <div class="card shadow border-start-primary invest-card"
            style="background: rgba(0,0,0,0.25);border-style: none;margin-top: 10px;">
            <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
              <div class="row align-items-center no-gutters">
                <div class="col-auto"><i class="far fa-pen fa-2x text-gray-600"></i></div>
                <div class="col me-2">
                  <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                    <span>Edit this investigation</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
    
        <a class="invest-card-link card-cancel a-cancel" data-url="{% url 'cancel_analysis' %}" href="#">
          <div class="card shadow border-start-primary invest-card"
            style="background: rgba(0,0,0,0.25);border-style: none;margin-top: 10px;">
            <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
              <div class="row align-items-center no-gutters">
                <div class="col-auto"><i class="far fa-window-close fa-2x text-gray-600"></i></div>
                <div class="col me-2">
                  <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span
                      style="color: var(--bs-orange);">Cancel memory analysis</span></div>
                </div>
              </div>
            </div>
          </div>
        </a>
    
        <a class="invest-card-link card-delete a-delete" data-url="{% url 'remove_analysis' %}" href="#">
          <div class="card shadow border-start-primary invest-card"
            style="background: rgba(0,0,0,0.25);border-style: none;margin-top: 10px;">
            <div class="card-body" style="color: rgb(255,255,255);border-style: none;">
              <div class="row align-items-center no-gutters">
                <div class="col-auto"><i class="far fa-trash-alt fa-2x text-gray-600"></i></div>
                <div class="col me-2">
                  <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                    <span style="color: var(--bs-pink);">Delete this investigation</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <hr>
      </div>
  </div>
</div>

<form style="all: unset;" id='actionform' method="GET">
</form>

<form method="POST">
  {% csrf_token %}
</form>
<div class="overlay"></div>
<script src="{% static 'js/investigations.js' %}"></script>

{% endblock content %}