{% extends "dashboard/base.html" %}
{% load static %}
{% block content%}
<div class="container-fluid " style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-4" style="border-right-width: 3px;border-right-style: solid;overflow-y: scroll;overflow-x: hidden;min-height: 82vh;max-height: 82vh;">
      <input type="search" id="myInput" style="width: 100%;" placeholder="Search"><a class="link-dark" href="{% url 'newinvest'%}">
        <div class="card d-flex flex-row justify-content-center align-items-center bg-light border border-dark" style="border-width: 3px;margin-top: 5px;">
          <i class="icon ion-ios-plus-empty d-xxl-flex text-dark" style="font-size: 50px;margin-left: 10px;"></i>
        </div>
      </a>
      <div id="cards">
        {% if investigations %}
        <script>
          window.setInterval('refresh_status()', 60000);
        </script>
        {% for i in investigations %}
        <a class="link-dark" href=# onclick="DisplayInvestigation('{{i.id}}')">
          <div id="{{i.id}}" class="card d-flex flex-row justify-content-center align-items-center invest-card bg-light border border-dark border-sm" style="margin-top: 5px;"><i class="fab fa-windows text-info d-xxl-flex" style="font-size: 50px;margin-left: 10px;"></i>
            <div class="card-body">
              <h4 class="card-title text-dark">{{i.title}}</h4>
              <small class="text-muted card-subtitle mb-2">{{i.name}}</small>
              <div id="pb_{{i.id}}" class="progress">
                {% if i.status == '4' %}
                <div class="progress-bar bg-warning" aria-valuenow="100" aria-valuemin="0" style="width: 100%" aria-valuemax="100">Partial results</div>
                {% elif i.status == '2' %}
                <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" style="width: 100%" aria-valuemax="100">Ready</div>
                {% elif i.status == '1' %}
                <div class="progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="100" style="background-color:#212529; width: 100%" aria-valuemin="0" aria-valuemax="100">In progress : {{i.percentage}}%</div>
                {% else %}
                <div class="progress-bar progress-bar-striped" aria-valuenow="100" style="background-color:#212529; width: 100%" aria-valuemin="0" aria-valuemax="100">Not analyzed</div>
                {% endif %}
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
        {% endif %}
      </div>

    </div>
    <div id="actions" class="col-md-8" style="height: 80vh;">
      <span class="spinner-invest spinner-border spinner-border-sm spinner" role="status"></span>
      {% if investigations %}
      <div class="card bg-light border-sm border-dark" style="height: 65vh;">
        <div class="card-header">
          <h5 class="mb-0">Details</h5>
        </div>
        <div class="invest-details card-body"><span id="title" class="d-lg-flex justify-content-lg-start"></span>
          <span id="name" class="d-lg-flex justify-content-lg-start"></span><span class="d-lg-flex justify-content-lg-start"></span>
          <span id="description" class="d-lg-flex justify-content-lg-start"></span>
          <div class="table-responsive d-lg-flex">
            <table class="table table-light table-hover table-sm">
              <thead>
                <tr>
                  <th>Forensics Analysts :&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="investigators"></td>
                </tr>
              </tbody>
            </table>
          </div>
            <table class="table table-light table-hover table-sm">
              <thead>
                <tr>
                  <th>Linked String based IOC</th>
                  <th>Context</th>
                </tr>
              </thead>
              <tbody id="ioc-table">

              </tbody>
            </table>
        </div>
      </div>
      <div class="card bg-light border-sm border-dark">
        <div class="card-header">
          <h5 class="mb-0">Actions</h5>
        </div>
        <div class="invest-details invest-actions card-body">
          <form style="all: unset;" id="reviewform" action="{% url 'reviewinvest' %}" method="GET">
            <input type="hidden" name="sa_case_id" value="{{i.id}}">
            <input class="btn btn-dark btn-sm" type="submit" style="margin-right: 10px;" value="Review results">
          </form>

        </div>

      </div>
      {% endif %}
    </div>
  </div>
<form method="POST">
  {% csrf_token %}
  {{form.sa_case_id}}
</form>
{% include "investigations/toasts.html" %}

<script>

  function DisplayInvestigation(case_id){
    $('.invest-card').removeClass("invest-selected");
    $(document.getElementById(case_id)).addClass("invest-selected");
    $('.spinner-invest').show();
    $('#actions').show();
    $('.invest-details').hide();
    $.get("{% url 'get_invest' %}", {sa_case_id:case_id}, // url
      function (response, textStatus, jqXHR) {  // success callback
          if(textStatus == "success"){
            if (response['message'] == "success") {
              var title = response['result'][0].fields.title;
              var description =
              $('#investigators').html(response['result'][0].fields.investigators);
              $('#title').html("Hostname : " + response['result'][0].fields.title);
              $('#name').html("Filename : " + response['result'][0].fields.name);
              $('#description').html("Description : " + response['result'][0].fields.description);

              if (response['result'][0].fields.status == "0") {
                $('.invest-actions').html("\
                <button class='btn border-sm border-light btn-dark btn-sm' type='button' style='margin-right: 10px;' onclick=StartAnalysis('" + case_id + "');>Start Analysis</button>\
                <button class='btn border-sm border-light btn-danger btn-sm' type='button' style='margin-right: 10px;'' onclick=DeleteAnalysis('" + case_id + "');>Delete Analysis</button>\
                ");
              }
              if (response['result'][0].fields.status == "1") {
                $('.invest-actions').html("\
                <button class='btn border-sm border-dark btn-light btn-sm' type='button' style='margin-right: 10px;' onclick=CancelAnalysis('" + case_id + "');>Cancel Analysis</button>\
                ");
              }
              if (response['result'][0].fields.status == "2") {
                $('.invest-actions').html("\
                <form style='all: unset;' id='reviewform' action=\"{% url 'reviewinvest' %}\" method='GET'>\
                  <input type='hidden' name='sa_case_id' value='" + case_id + "'>\
                  <input class='btn border-sm border-light  btn-dark btn-sm' type='submit' style='margin-right: 10px;' value='Review results'>\
                </form>\
                <button class='btn border-sm border-light btn-dark btn-sm' type='button' style='margin-right: 10px;' onclick=StartAnalysis('" + case_id + "');>Restart Analysis</button>\
                <button class='btn btn-danger btn-sm' type='button' style='margin-right: 10px;'' onclick=DeleteAnalysis('" + case_id + "');>Delete Analysis</button>\
                ");
              }
              if (response['result'][0].fields.status == "4") {
                $('.invest-actions').html("\
                <form style='all: unset;' id='reviewform' action=\"{% url 'reviewinvest' %}\" method='GET'>\
                  <input type='hidden' name='sa_case_id' value='" + case_id + "'>\
                  <input class='btn border-sm border-light btn-dark btn-sm' type='submit' style='margin-right: 10px;' value='Review results'>\
                </form>\
                <button class='btn border-sm border-light btn-dark btn-sm' type='button' style='margin-right: 10px;' onclick=StartAnalysis('" + case_id + "');>Restart Analysis</button>\
                <button class='btn btn-danger btn-sm' type='button' style='margin-right: 10px;'' onclick=DeleteAnalysis('" + case_id + "');>Delete Analysis</button>\
                <p class='text-warning'>Some volatility modules could not run on this dump. This might indicate that a part of the memory dump is corrupted or not readable by volatility.<p>\
                ");
              }
              if(response['iocs']['message']){
                $('#ioc-table').html("\
                <tr>\
                  <td>N/A</td>\
                </tr>\
                "
                )
              }
              else {
                table_entry = "";
                response['iocs'].forEach(function(item){
                  table_entry += "\
                  <tr>\
                    <td>"+ item.fields.value +"</td>\
                    <td>"+ item.fields.context +"</td>\
                  </tr>\
                  "
                });
                $('#ioc-table').html(table_entry)
              }
            }
            if (response['message'] == "error")
            {
              $('#proc-error-message').html("Something went wrong getting the linked iocs.");
              $('.toast-proc-error').toast('show');
            }
            $('.invest-details').show();
            $('.spinner-invest').hide();
          }
    });
  }

  function StartAnalysis(case_id){
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const fd = new FormData();
    fd.append('csrfmiddlewaretoken', csrftoken);
    fd.append('sa_case_id', case_id);
    $.ajax({
      type:'POST',
      url: "{% url 'start_analysis' %}",
      enctype: 'multipart/form-data',
      data: fd,
      beforeSend: function(){

      },
      success: function(response){
        if (response['message'] == "success") {
          $('#proc-message').html("Analysis started.");
          $('.toast-proc').toast('show');
          refresh_status()
        }
        if (response['message'] == "error")
        {
          $('#proc-error-message').html("Invalid request");
          $('.toast-proc-error').toast('show');
        }

      },
      error: function(error){
        $('#proc-error-message').html("Something went wrong (500) ");
        $('.toast-proc-error').toast('show');
      },
      cache: false,
      contentType : false,
      processData: false
    });
  }

  /* Delete investigation script */
  function CancelAnalysis(case_id){
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const fd = new FormData();
    fd.append('csrfmiddlewaretoken', csrftoken);
    fd.append('sa_case_id', case_id);
    $.ajax({
      type:'POST',
      url: "{% url 'cancel_analysis' %}",
      enctype: 'multipart/form-data',
      data: fd,
      beforeSend: function(){
        //Toggle the message that we did take the request into a count
      },
      success: function(response){
        if (response['message'] == "success") {
          $('#proc-success-message').html("Analysis canceled.");
          $('.toast-proc-success').toast('show');
          refresh_status()
        }
        if (response['message'] == "error")
        {
          $('#proc-error-message').html("Invalid request");
          $('.toast-proc-error').toast('show');
        }
      },
      error: function(error){
        $('#proc-error-message').html("Something went wrong (500) ");
        $('.toast-proc-error').toast('show');
      },
      cache: false,
      contentType : false,
      processData: false
    });
  }

  /* Review Analysis script */
  function ReviewCase(id){
    const csrf = document.getElementsByName('csrfmiddlewaretoken');
    const action = document.getElementById('id_action');
    const case_id = document.getElementById('id_id');
    action.value = "3";
    case_id.value = id;
  }
  /* Delete investigation script */
  function DeleteAnalysis(case_id){
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const fd = new FormData();
    fd.append('csrfmiddlewaretoken', csrftoken);
    fd.append('sa_case_id', case_id);
    $.ajax({
      type:'POST',
      url: "{% url 'remove_analysis' %}",
      enctype: 'multipart/form-data',
      data: fd,
      beforeSend: function(){
        //Toggle the message that we did take the request into a count
      },
      success: function(response){
        if (response['message'] == "success") {
          $('#actions').hide();
          $('#proc-success-message').html("Analysis removed.");
          $('.toast-proc-success').toast('show');
          refresh();
        }
        if (response['message'] == "error")
        {
          $('#proc-error-message').html("Invalid request");
          $('.toast-proc-error').toast('show');
        }
      },
      error: function(error){
        $('#proc-error-message').html("Something went wrong (500) ");
        $('.toast-proc-error').toast('show');
      },
      cache: false,
      contentType : false,
      processData: false
    });
  }
  // Refresh or reload page.
  function refresh() {
    $.ajax({
      url: "{% url 'investigations' %}",
      success: function(data) {
        $('.modal').modal('hide');
        var parser = new DOMParser();
        var wrapper = parser.parseFromString(data, "text/html");
        cards = wrapper.getElementById('cards');
        $('#cards').html(cards);
        theme();
      }
    });
  }

  // Refresh status.
  function refresh_status() {
    $.get("{% url 'get_status' %}",  // url
    function (data, textStatus, jqXHR) {  // success callback
      result =  $.parseJSON(data['response']);
      $.each(result, function( index ){
        pb = "pb_" + result[index].pk;
        status = result[index].fields.status;
        percentage = result[index].fields.percentage;
        cid = document.getElementById(result[index].pk);
        if ($(cid).hasClass('invest-selected')){
            DisplayInvestigation(result[index].pk);
        }
        if(status == "2"){
          $(document.getElementById(pb)).html("\
          <div class='progress-bar bg-success' aria-valuenow='100' aria-valuemin='0' style='width: 100%' aria-valuemax='100'>Ready</div>\
          ");
        }
        if(status == "1"){
          $(document.getElementById(pb)).html("\
          <div class='progress-bar progress-bar-striped progress-bar-animated bg-dark' aria-valuenow='100' style='width: 100%' aria-valuemin='0' aria-valuemax='100'>In progress : " + percentage + "%</div>\
          ");
        }
        if(status == "0"){
          $(document.getElementById(pb)).html("\
          <div class='progress-bar progress-bar-striped  bg-dark' aria-valuenow='100' style='width: 100%' aria-valuemin='0' aria-valuemax='100'>Not analyzed</div>");
        }

        if(status == "4"){
          $(document.getElementById(pb)).html("\
          <div class='progress-bar bg-warning' aria-valuenow='100' aria-valuemin='0' style='width: 100%' aria-valuemax='100'>Partial results</div>\
          ");
        }
        theme();

      });
    });
  }
  //Search an investigation
  $(document).ready(function(){
    $('.spinner-main').hide();
    $('.spinner-invest').hide();
    $('.invest-details').hide();
    $('#actions').hide();
    $('.container').show();
    $('.container-fluid').show();
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#cards a").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
{% endblock content %}
