{% extends "dashboard/base.html" %}
{% load static %}
{% block content%}
<!-- Custom Card Style -->
<style type="text/css">
  .main {
    color:#ffffff;
    --tw-bg-opacity: 1;
    font-family: Anonymous Pro, monospace;
    --tw-text-opacity: 1;
    color: rgba(233, 233, 233, var(--tw-text-opacity));
    -moz-osx-font-smoothing: grayscale;
    -moz-osx-font-smoothing: auto;
    font-size: 0.9rem;
  }
  .modal-content {
    background-color: #293b58;
  }
  .card{
    border-width: small;
    background-color:#293b58;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 30px 10px 30px;
  }

  .card:hover{
    transform: scale(1.01);
  }

  .text-white {
    --tw-bg-opacity: 1;
    font-family: Anonymous Pro, monospace;
    --tw-text-opacity: 1;
    color: rgba(233, 233, 233, var(--tw-text-opacity));
    -moz-osx-font-smoothing: grayscale;
    -moz-osx-font-smoothing: auto;
    font-size: 0.9rem;
  }
  .query-input {
    background-color:#293b58;
    font-size: 1rem;
    line-height: 3rem;
    width: 100%;
    white-space: nowrap;
    color:#ffffff;
  }

  .h3 {
    color: #eb1f5a;
    float:right;
  }

  .invests:hover{
    color:#ffffff;
  }
</style>
<div class="container-fluid main" style="overflow-y:scroll">
  <div class="row">
    <div class="col-12">
      <h1 class="h3">Investigations</h1>
      <div class="d-inline">
				<input class="query-input form-control mb-3" id="myInput" type="text" placeholder="Search..">
			</div>
      <p><a href="{%url 'newinvest'%}">Create a new investigation.</a></p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- Investigations Cards -->
      <div id="cards" class="card-deck">
        {% if investigations %}
        {% for i in investigations %}
        <a href="#" class="invests" data-bs-toggle="modal" data-bs-target="#card_{{i.id}}" id="card_{{i.title}}" style="text-decoration:none">
          <div class="card mb-3 shadow rounded">
            <div class="card-body">
              <p class="card-subtitle h4 mb-2" style="color:#32d3bc;" id="invest-title">{{ i.title }}</p>
              <p class="card-subtitle mb-2" id="invest-description" >{{ i.description }}</p>
              <small><u>Forensics Expert(s)</u> : {{ i.investigators }}</small>
              <hr>
              {% if i.status == "0" %}
              <p class="card-subtitle" style="color:#eb1f5a;" id="invest-status_{{i.id}}">Not Analysed.</p>
              {% endif  %}
              {% if i.status == "1" %}
              <div style="float:left; color:#dea71d; margin-right:5px;" class="spinner-grow spinner-grow-sm" role="status"></div><p class="card-subtitle" style=" color:#dea71d;" id="invest-status_{{i.id}}">Investigation in progress </p>
              {% endif %}

              {% if i.status == "2" %}
              <p class="card-subtitle" id="invest-status_{{i.id}}" style="color:#32d3bc;">Ready to be reviewed</p>
              {% endif %}
            </div>
          </div>
        </a>

        <!-- Modal displayed for each investigations -->
        <div class="text-white modal fade" id="card_{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog border">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Investigation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <ul>
                  <li>Title : {{i.title}}</li>
                  <li>OS Version : {{i.os_version}}</li>
                  <li>Forensics Expert(s): {{i.investigators}}</li>
                  <li>File: {{i.name}}</li>
                </ul>
                {% if i.status == "0" %}
                This memory sample is not analysed yet.
                {% endif %}
                {% if i.status == "1" %}
                This sample is being analysed. Please Wait.
                {% endif %}
                {% if i.status == "2" %}
                This sample is ready to be reviewed.
                {% endif %}
              </div>
              <div class="modal-footer">
                {% if i.status == "0" %}
                <form action="" method="POST">
                  {% csrf_token %}
                  {{form.action}}
                  {{form.id}}
                  <button class="btn btn-prim" onclick="StartAnalysis('{{i.id}}');" data-bs-dismiss="modal">Start analysis</button>
                </form>
                {% endif %}
                {% if i.status == "1" %}
                <form action="" method="POST">
                  {% csrf_token %}
                  {{form.action}}
                  {{form.id}}
                  <button type="button" class="btn btn-warn" onclick="CancelAnalysis('{{i.id}}');" data-bs-dismiss="modal">Cancel analysis</button>
                </form>
                {% endif %}
                {% if i.status == "2" %}
                <form id="reviewform" action="{% url 'reviewinvest' %}" method="POST">
                  {% csrf_token %}
                  {{form.action}}
                  {{form.id}}
                  <input class="btn btn-succ" type="submit" onclick="ReviewCase('{{i.id}}')" value="Review results">
                  <button type="button" class="btn btn-prim" onclick="StartAnalysis('{{i.id}}');" data-bs-dismiss="modal">Restart analysis</button>
                </form>
                {% endif %}
                <button type="button" class="btn btn-dang" onclick="DeleteInvestigation('{{i.id}}')" data-bs-dismiss="modal">Delete</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>


<!-- Ajax post requests management (Create/Delete/Restart/Cancel) -->
<script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
<script>

  /* StartAnalysis script */
  function StartAnalysis(id){
    const csrf = document.getElementsByName('csrfmiddlewaretoken');
    const action = document.getElementById('id_action');
    action.value = "1";
    const fd = new FormData();
    fd.append('csrfmiddlewaretoken', csrf[0].value);
    fd.append('action', action.value);
    fd.append('id', id);
    $.ajax({
      type:'POST',
      url: "",
      enctype: 'multipart/form-data',
      data: fd,
      beforeSend: function(){

      },
      success: function(response){
        location.reload();
      },
      error: function(error){

      },
      cache: false,
      contentType : false,
      processData: false
    });
  }

  /* Cancel Analysis script */
  function CancelAnalysis(id){
    const csrf = document.getElementsByName('csrfmiddlewaretoken');
    const action = document.getElementById('id_action');
    action.value = "2"
    const fd = new FormData();
    fd.append('csrfmiddlewaretoken', csrf[0].value);
    fd.append('action', action.value);
    fd.append('id', id);
    $.ajax({
      type:'POST',
      url: "",
      enctype: 'multipart/form-data',
      data: fd,
      beforeSend: function(){

      },
      success: function(response){
        location.reload();
      },
      error: function(error){

      },
      cache: false,
      contentType : false,
      processData: false
    });
  }

  /* Review Analysis script */
  function ReviewCase(id){
    const csrf = document.getElementsByName('csrfmiddlewaretoken');
    const action = document.getElementById('id_action');
    const case_id = document.getElementById('id_id');
    action.value = "3";
    case_id.value = id;
  }
  /* Delete investigation script */
  function DeleteInvestigation(id){
    const csrf = document.getElementsByName('csrfmiddlewaretoken');
    const action = document.getElementById('id_action');
    action.value = "0"
    const fd = new FormData();
    fd.append('csrfmiddlewaretoken', csrf[0].value);
    fd.append('action', action.value);
    fd.append('id', id);
    $.ajax({
      type:'POST',
      url: "",
      enctype: 'multipart/form-data',
      data: fd,
      beforeSend: function(){
        document.getElementById('card_'+id).classList.add('d-none');
      },
      success: function(response){
        location.reload();
      },
      error: function(error){

      },
      cache: false,
      contentType : false,
      processData: false
    });
  }

  // Refresh or reload page.
  function refresh() {
    $.ajax({
      url: "{% url 'investigations' %}",
      success: function(data) {
        var parser = new DOMParser();
        var wrapper = parser.parseFromString(data, "text/html");
        cards = wrapper.getElementById('cards');
        $('#cards').html(cards);
      }
    });
  }
  //Search an investigation
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#cards a").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    window.setInterval('refresh()', 30000); 	// Call a function every 10000 milliseconds (OR 10 seconds).
  });
</script>
{% endblock content %}
