<!-- Investigation Information Banner -->
<div class="row">
  <div class="card-font col-10">
    <li class="list-group-item card-font">
      <h3 class="h3"> Case : {{case.title}}</h3>
      <h6 class="ml-3">Description : <span class="text-muted">{{case.description}}</span></h6>
      <h6 class="ml-3">Operating System : <span class="text-muted">{{case.os_version}}</span></h6>
      <h6 class="ml-3">Analyst(s) : <span class="text-muted">{{case.investigators}}</span></h6>
    </li>

  </div>

</div>
