{% extends "dashboard/base.html" %}
{% load static %}
{% block content%}
<style>
  .table tbody tr.highlight td {
    background-color: #a6202a;
    color:#ffffff;
  }

  .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  code{
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
    color:black;
  }
</style>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js" type="text/javascript"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-graph.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-sunburst.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.anychart.com/releases/8.11.0/fonts/css/anychart-font.min.css"/>
<div class="container-fluid main" id="main">
  <!-- Investigation Banner -->
  {% include "investigations/invest_banner.html" %}

  <div class="row">
    <div class="col-12 card-font bg-light">
      <div class="spinner-border text-white" role="status" id="loading"></div>
      <ul class="list-group card-font bg-light list-group-flush">
        <!-- Process Artifacts -->
        <li class="list-group-item card-font bg-light">
          <h4 class="h5 text-dark">Process Artifacts</h4>

          {% include "investigations/process_artifacts/process_graph.html" %}

          {% include "investigations/process_artifacts/process_scan.html" %}

          {% include "investigations/process_artifacts/process_tree.html" %}

          {% include "investigations/process_artifacts/process_cmdline.html" %}

          {% include "investigations/process_artifacts/process_privileges.html" %}

          {% include "investigations/process_artifacts/process_env.html" %}
        </li>
        <!-- Network Artifacts -->
        <li class="list-group-item card-font bg-light">
          <h5 class="h5 text-dark">Network Artifacts</h5>
          {% include "investigations/network_artifacts/network_scan.html" %}
          {% include "investigations/network_artifacts/network_stat.html" %}
          {% include "investigations/network_artifacts/network_graph.html" %}
        </li>


        <!-- Cryptography Artifacts -->
        <li class="list-group-item card-font bg-light">
          <h5 class="h5 text-dark">Cryptography</h5>
          {% include "investigations/crypto_artifacts/crypto_hashdump.html" %}
          {% include "investigations/crypto_artifacts/crypto_lsadump.html" %}
          {% include "investigations/crypto_artifacts/crypto_cachedump.html" %}
        </li>

        <!-- Malware Analysis -->

        <li class="list-group-item card-font bg-light">
          <h5 class="h5 text-dark">Registry</h5>
          {% include "investigations/reg_artifacts/reg_hivelist.html" %}
        </li>


        <li class="list-group-item card-font bg-light">
          <h5 class="h5 text-dark">Malware Analysis</h5>
          {% include "investigations/ma_artifacts/ma_timeline.html" %}
          {% include "investigations/ma_artifacts/ma_skeleton.html" %}
          {% include "investigations/ma_artifacts/ma_iocs.html" %}
          {% include "investigations/ma_artifacts/ma_malfind.html" %}
          {% include "investigations/ma_artifacts/ma_filescan.html" %}
          {% include "investigations/ma_artifacts/ma_dumpprocess.html" %}
          {% include "investigations/ma_artifacts/ma_dumpfile.html" %}
        </li>


        <li class="list-group-item card-font bg-light">
          <h5 class="h5 text-dark">Reporting (Beta)</h5>
          <button onclick="GenerateReport('{{case.title}}','{{case.os_version}}','{{case.description}}','{{case.name}}');" class="btn btn-warning" type="button">Generate Report <span class='text-muted'>(PDF)</span></button>
        </li>
      </ul>

        </div>
        <div class="col-6 card-font bg-light">
          <li class="list-group-item card-font bg-light">
            <h5 class="h5 text-dark">Process Dumps</h5>
            {% include "investigations/process_dumps.html"%}
          </li>
        </div>
        <div class="col-6 card-font bg-light">
          <li class="list-group-item card-font bg-light">
            <h5 class="h5 text-dark">File Dumps</h5>
            {% include "investigations/file_dumps.html"%}
          </li>
        </div>
  </div>
</div>


  {% include "investigations/toasts.html" %}
  <table hidden id="report_table_process_scan"></table>
  <table hidden id="report_table_process_cmdline"></table>
  <table hidden id="report_table_process_priv"></table>
  <table hidden id="report_table_process_env"></table>
  <table hidden id="report_table_process_net"></table>
  <table hidden id="report_table_process_netstat"></table>
  <table hidden id="report_table_timeline"></table>
  <table hidden id="report_table_hashdump"></table>
  <table hidden id="report_table_filescan"></table>
  <table hidden id="report_table_processtree"></table>
  <table hidden id="report_table_cachedump"></table>
  <table hidden id="report_table_lsadump"></table>
  <table hidden id="report_table_process_netstat"></table>
  <table hidden id="report_table_ioc"></table>
  <table hidden id="report_table_skeleton"></table>


  <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/jspdf@2.0.0/dist/jspdf.umd.min.js"></script>
  <script type="module" src="{% static 'js/jspdf.plugin.autotable.js'%}"></script>
  <script src="{% static 'js/report.js'%}"></script>
  <script>


    $('#processCacheTable').on('click', 'tbody tr', function(event) {
      var table = $(this);

      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });



    $('#processTreeTable').on('click', 'tbody tr', function(event) {
      var table = $(this);

      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#processScanTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#processEnvTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#processCmdTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#processPrivilegesTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });


    $('#processNetworkTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });


    $('#TimelineTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });


    $('#FileScanTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#IOCTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#processHashTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });


    $('#processCacheTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#processLsaTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#processNetworkStatTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });



    //Process Scan Search function
    $(document).ready(function(){

      $('#main').show();
      $('#loading').hide();

      $("#searchProcess").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#process tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      //NetStat Search funtion
      $("#searchNetworkStat").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#network tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });

      //Malfind Search function

      $("#searchMalfind").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#malfind-btn button").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      //TimeLine SearchBar
      $("#searchTimeline").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#TimelineTab tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) !== -1)
        })
      });

      //CmdLine SearchBar

      $("#searchCmdLine").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#cmdline tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      //Network SearchBar

      $("#searchNetwork").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#network tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });


      //ProcessScan SearchBar

      $("#searchProcessScan").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#processScan tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });



      //Process Privileges SearchBar

      $("#searchPriv").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#processPriv tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });


      //Process Env SearchBar

      $("#searchEnv").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#processEnv tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });


      //FileScan SearchBar

      $("#searchFileScan").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#FileScanTab tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });


      //IOC SearchBar

      $("#searchIOC").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#IOCTab tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    $(document).ready(function(){
      $('.container').show();
      $('.container-fluid').show();
      $('.spinner-main').hide();
      $('.toast-other').toast('show');
    });
  </script>
  {% endblock content %}
