{% extends "dashboard/base.html" %}
{% load static %}
{% block content%}

<style>

  .modal-content {
    background-color: #293b58;
  }

  .table,.btn {
    --tw-bg-opacity: 1;
    font-family: Anonymous Pro, monospace;
    --tw-text-opacity: 1;
    color: rgba(233, 233, 233, var(--tw-text-opacity));
    -moz-osx-font-smoothing: grayscale;
    -moz-osx-font-smoothing: auto;
    font-size: 0.9rem;
  }
  .table tbody tr.highlight td {
    background-color: #a6202a;
  }

  .h3{
    color:#eb1f5a;
  }
  .card-font, .accordion-button, .accordion-item {
    background-color:#1c2a34;
    color: white;
  }

  .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  .card-font-2{
    background-color:#293b58;

  }

  code{
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
    color:white;
  }
</style>

<script src="{% static 'dashboard/anychart-base.min.js'%}"></script>
<script src="{% static 'dashboard/anychart-sunburst.min.js' %}"></script>
<script src="{% static 'dashboard/anychart-exports.min.js' %}"></script>
<script src="{% static 'dashboard/anychart-ui.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'dashboard/anychart-ui.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/anychart-font.min.css' %}"/>
<main class="container-fluid col-md-11 ml-sm-auto pt-3 px-4" style="overflow-y:scroll;" id="main">

  <!-- Investigation Banner -->

  {% include "investigations/invest_banner.html" %}

  <div class="row mt-5">
    <div class="col-10 card-font">
      <div class="spinner-border text-white" role="status" id="loading"></div>
      <ul class="list-group card-font list-group-flush">

        <!-- Process Artifacts -->

        <li class="list-group-item card-font">
          <h4 class="h5">Process Artifacts</h4>

          {% include "investigations/process_artifacts/process_graph.html" %}

          {% include "investigations/process_artifacts/process_scan.html" %}

          {% include "investigations/process_artifacts/process_tree.html" %}

          {% include "investigations/process_artifacts/process_cmdline.html" %}

          {% include "investigations/process_artifacts/process_privileges.html" %}

          {% include "investigations/process_artifacts/process_env.html" %}
        </li>


        <!-- Network Artifacts -->
        <li class="list-group-item card-font">
          <h5 class="h5">Network Artifacts</h5>
          {% include "investigations/network_artifacts/network_scan.html" %}
        </li>


        <!-- Cryptography Artifacts -->
        <li class="list-group-item card-font">
          <h5 class="h5">Cryptography</h5>
          {% include "investigations/crypto_artifacts/crypto_hashdump.html" %}
        </li>

        <!-- Malware Analysis -->

        <li class="list-group-item card-font">
          <h5 class="h5">Malware Analysis (Beta)</h5>
          {% include "investigations/ma_artifacts/ma_timeline.html" %}
          {% include "investigations/ma_artifacts/ma_iocs.html" %}
          {% include "investigations/ma_artifacts/ma_malfind.html" %}
          {% include "investigations/ma_artifacts/ma_filescan.html" %}
          {% include "investigations/ma_artifacts/ma_dumpprocess.html" %}
        </li>
      </div>
    </div>

    <!-- Cryptography Artifacts -->
    <li class="list-group-item card-font">
      <h5 class="h5">Reporting (Beta)</h5>
      <button onclick="GenerateReport('{{case.title}}','{{case.os_version}}','{{case.description}}','{{case.file}}');" class="btn btn-warn-d" type="button">Generate Report <span class='text-muted'>(PDF)</span></button>
    </li>



  </main>
  <!-- Toasts -->
  {% if messages %}
  <div aria-live="polite" aria-atomic="true" style="position: relative;">
    <!-- Position it -->
    <div style="position: absolute; top: 3rem; right: 0;">
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="mr-auto">VolWeb</strong>
        </div>
        <div class="toast-body">
          {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          {{message}}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}



  <table id="report_table_process_tree" class="hidden" ></table>
  <table id="report_table_process_scan" class="hidden"></table>
  <table id="report_table_process_cmdline" class="hidden"></table>
  <table id="report_table_process_priv" class="hidden"></table>
  <table id="report_table_process_env" class="hidden"></table>
  <table id="report_table_process_net" class="hidden"></table>
  <table id="report_table_timeline" class="hidden"></table>
  <table id="report_table_hashdump" class="hidden"></table>
  <table id="report_table_ioc" class="hidden"></table>

  <script src="{% static 'dashboard/jquery.min.js'%}"></script>
  <script type="module" src="{% static 'dashboard/jspdf.umd.min.js'%}"></script>
  <script type="module" src="{% static 'dashboard/jspdf.plugin.autotable.js'%}"></script>
  <script>
    function ReportProcessTree() {
      var TheadProcessTree = $('table.processtree > thead');
      var TrProcessTree = $('table.processtree > tbody > tr.highlight');
      $('#report_table_process_tree').append(TheadProcessTree);
      $('#report_table_process_tree').append(TrProcessTree);
    }

    function ReportProcessScan(){
      var TheadProcessScan = $('table.processcan > tbody > tr.highlight');
      var TrProcessScan = $('table.processcan > thead');
      $('#report_table_process_scan').append(TheadProcessScan);
      $('#report_table_process_scan').append(TrProcessScan);
    }

    function ReportProcessCmdLine(){
      var TheadProcessCmdline = $('table.processcmdline > tbody > tr.highlight');
      var TrProcessCmdline = $('table.processcmdline > thead');
      $('#report_table_process_cmdline').append(TheadProcessCmdline);
      $('#report_table_process_cmdline').append(TrProcessCmdline);
    }

    function ReportProcessPriv(){
      var TheadProcessPriv = $('table.processpriv > tbody > tr.highlight');
      var TrProcessPriv = $('table.processpriv > thead');
      $('#report_table_process_priv').append(TheadProcessPriv);
      $('#report_table_process_priv').append(TrProcessPriv);
    }

    function ReportProcessEnv(){
      var TheadProcessEnv = $('table.processenv > tbody > tr.highlight');
      var TrProcessEnv = $('table.processenv > thead');
      $('#report_table_process_env').append(TheadProcessEnv);
      $('#report_table_process_env').append(TrProcessEnv);
    }

    function ReportNetscan(){
      var TheadNetscan = $('table.netscan > tbody > tr.highlight');
      var TrNetscan = $('table.netscan > thead');
      $('#report_table_process_net').append(TheadNetscan);
      $('#report_table_process_net').append(TrNetscan);
    }

    function ReportTimeline(){
      var TheadTimeline = $('table.timeline > tbody > tr.highlight');
      var TrTimeline = $('table.timeline > thead');
      $('#report_table_timeline').append(TheadTimeline);
      $('#report_table_timeline').append(TrTimeline);
    }

    function ReportHashdump(){
      var TheadHashDump = $('table.hashdump > tbody > tr.highlight');
      var TrTimeHashDump = $('table.hashdump > thead');
      $('#report_table_hashdump').append(TheadHashDump);
      $('#report_table_hashdump').append(TrTimeHashDump);
    }

    function ReportIOC(){
      var TheadIOC = $('table.ioc > tbody > tr.highlight');
      var TrIOC = $('table.ioc > thead');
      $('#report_table_ioc').append(TheadIOC);
      $('#report_table_ioc').append(TrIOC);
    }
    //TODO : Implement the others (tbody classes already set)


    function GenerateReport(case_name,os,description,filename){
      const { jsPDF } = window.jspdf;
      const doc = new jsPDF();
      doc.setFont("helvetica");
      doc.setFontSize(18);
      doc.text("Memory Investigation Report", 10, 10);
      doc.setFontSize(10);
      doc.text("Case Name : " + case_name, 10, 20);
      doc.text("OS : " + os, 10, 25);
      doc.text("Description : " + description, 10, 30);
      doc.text("This investigation report is putting together all the tagged element that are proving the compromission of the asset", 10, 50);
      doc.setFontSize(15);
      doc.text("Process Scan Artifacts :",10,60)
      doc.setFontSize(10);
      ReportProcessScan();
      doc.setLineWidth(0.2);
      doc.line(10, 45, 200, 45);

      doc.autoTable({
        tableWidth: 'wrap',
        rowPageBreak: 'auto',
        styles: { cellPadding: 0.5, fontSize: 8 },
        margin: { top: 65 },
        html: '#report_table_process_scan',
      });

      doc.setFontSize(15);
      doc.text("Process Tree Artifacts :",10,doc.autoTable.previous.finalY + 10);
      doc.setFontSize(10);
      ReportProcessTree();
      doc.setLineWidth(0.2);
      doc.line(10, 45, 200, 45);
      doc.autoTable({
        tableWidth: 'wrap',
        rowPageBreak: 'auto',
        styles: { cellPadding: 0.5, fontSize: 8 },
        startY: doc.autoTable.previous.finalY + 15,
        html: '#report_table_process_tree',
      });


      doc.setFontSize(15);
      doc.text("Process Command Line Artifacts :",10,doc.autoTable.previous.finalY + 10);
      doc.setFontSize(10);
      ReportProcessCmdLine();
      doc.setLineWidth(0.2);
      doc.line(10, 45, 200, 45);
      doc.autoTable({
        rowPageBreak: 'auto',
        styles: { cellPadding: 0.5, fontSize: 8},
        startY: doc.autoTable.previous.finalY + 15,
        html: '#report_table_process_cmdline',
      });

      doc.setFontSize(15);
      doc.text("Process Privileges Artifacts :",10,doc.autoTable.previous.finalY + 10);
      doc.setFontSize(10);
      ReportProcessPriv();
      doc.setLineWidth(0.2);
      doc.line(10, 45, 200, 45);
      doc.autoTable({
        rowPageBreak: 'auto',
        styles: { cellPadding: 0.5, fontSize: 8},
        startY: doc.autoTable.previous.finalY + 15,
        html: '#report_table_process_priv',
      });

      doc.setFontSize(15);
      doc.text("Process Environnement variables Artifacts :",10,doc.autoTable.previous.finalY + 10);
      doc.setFontSize(10);
      ReportProcessEnv();
      doc.setLineWidth(0.2);
      doc.line(10, 45, 200, 45);
      doc.autoTable({
        rowPageBreak: 'auto',
        styles: { cellPadding: 0.5, fontSize: 8},
        startY: doc.autoTable.previous.finalY + 15,
        html: '#report_table_process_env',
      });

      doc.setFontSize(15);
      doc.text("Network Artifacts :",10,doc.autoTable.previous.finalY + 10);
      doc.setFontSize(10);
      ReportNetscan();
      doc.setLineWidth(0.2);
      doc.line(10, 45, 200, 45);
      doc.autoTable({
        rowPageBreak: 'auto',
        styles: { cellPadding: 0.5, fontSize: 8},
        startY: doc.autoTable.previous.finalY + 15,
        html: '#report_table_process_net',
      });

      doc.setFontSize(15);
      doc.text("Cryptography Artifacts :",10,doc.autoTable.previous.finalY + 10);
      doc.setFontSize(10);
      ReportHashdump();
      doc.setLineWidth(0.2);
      doc.line(10, 45, 200, 45);
      doc.autoTable({
        rowPageBreak: 'auto',
        styles: { cellPadding: 0.5, fontSize: 8},
        startY: doc.autoTable.previous.finalY + 15,
        html: '#report_table_hashdump',
      });

      doc.setFontSize(15);
      doc.text("Other Artifacts :",10,doc.autoTable.previous.finalY + 10);
      doc.setFontSize(10);
      ReportTimeline();
      doc.setLineWidth(0.2);
      doc.line(10, 45, 200, 45);
      doc.autoTable({
        rowPageBreak: 'auto',
        styles: { cellPadding: 0.5, fontSize: 8},
        startY: doc.autoTable.previous.finalY + 15,
        html: '#report_table_timeline',
      });

      doc.setFontSize(15);
      doc.text("IOCs:",10,doc.autoTable.previous.finalY + 10);
      doc.setFontSize(10);
      ReportIOC();
      doc.setLineWidth(0.2);
      doc.line(10, 45, 200, 45);
      doc.autoTable({
        rowPageBreak: 'auto',
        styles: { cellPadding: 0.5, fontSize: 8},
        startY: doc.autoTable.previous.finalY + 15,
        html: '#report_table_ioc',
      });

      doc.save("report.pdf");
    }

    $('#processTreeTable').on('click', 'tbody tr', function(event) {
      var table = $(this);

      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#processScanTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#processEnvTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#processCmdTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#processPrivilegesTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });


    $('#processNetworkTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });


    $('#TimelineTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });


    $('#FileScanTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#IOCTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });

    $('#processHashTable').on('click', 'tbody tr', function(event) {
      var table = $(this);
      if (table.hasClass("highlight")){
        table.removeClass("highlight");
      }
      else{
        table.addClass("highlight");
      }
    });
    //Binding Case Id for ProcessDump
    $(document).ready(function(){
      $('#main').show();
      $('#loading').hide();
      const case_id = document.getElementById('case_id');
      var id = document.getElementById('id_id');
      id.value = case_id.value;
    });

    //Process Scan Search function
    $(document).ready(function(){
      $("#searchProcess").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#process tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      $("#searchMalfind").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#malfind-btn button").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      //TimeLine SearchBar
      $("#searchTimeline").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#TimelineTab tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      //CmdLine SearchBar

      $("#searchCmdLine").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#cmdline tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      //Network SearchBar

      $("#searchNetwork").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#network tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });


      //ProcessScan SearchBar

      $("#searchProcessScan").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#processScan tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });



      //Process Privileges SearchBar

      $("#searchPriv").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#processPriv tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });


      //Process Env SearchBar

      $("#searchEnv").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#processEnv tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });


      //FileScan SearchBar

      $("#searchFileScan").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#FileScanTab tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });


      //IOC SearchBar

      $("#searchIOC").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#IOCTab tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    $(document).ready(function(){
      $('.toast').toast('show');
    });
  </script>
  {% endblock content %}
