{% extends "main/master.html" %}
{% load static %}

{% block content%}
<script src="{% static '/js/home/home.js'%}"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>


<div class="row justify-content-center align-items-center">
    <div class="col-lg-12 col-xl-12">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="fw-bold m-0">Cases over time</h6>
            </div>
            <div class="card-body">
              <div id="chart" class="opacity-75" style="height:30rem;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-xl-4 mb-4">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase fw-bold text-xs mb-1"><span>Recent Cases</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-briefcase fa-2x text-gray-600"></i></div>
                </div>
                <hr class="horizontal dark mt-0">
                <ul id="cases_placeholder" class="list-group list-group-flush placeholder-glow">
                    <li class="list-group-item"><span class="placeholder col-12"></span></li>
                    <li class="list-group-item"><span class="placeholder col-12"></span></li>
                    <li class="list-group-item"><span class="placeholder col-12"></span></li>
                    <li class="list-group-item"><span class="placeholder col-12"></span></li>
                    <li class="list-group-item"><span class="placeholder col-12"></span></li>
                </ul>
                <ul id="recent_cases" class="list-group list-group-flush">
                </ul>
                
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 mb-4">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase fw-bold text-xs mb-1"><span>Team members</span></div>
                    </div>
                    <div class="col-auto"><i class="fab fa-teamspeak fa-2x text-gray-600"></i></div>
                </div>
                <hr class="horizontal dark mt-0">
                <ul class="list-group list-group-flush">
                    {% for user in Users %}
                    <li class="list-group-item">- {{user}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 mb-4">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase fw-bold text-xs mb-1"><span>Recent ISF</span></div>
                    </div>
                    <div class="col-auto"><i class="fab fa-connectdevelop fa-2x text-gray-600"></i></div>
                </div>
                <hr class="horizontal dark mt-0">
                <ul id="isf_placeholder" class="list-group list-group-flush placeholder-glow">
                    <li class="list-group-item"><span class="placeholder col-12"></span></li>
                    <li class="list-group-item"><span class="placeholder col-12"></span></li>
                    <li class="list-group-item"><span class="placeholder col-12"></span></li>
                    <li class="list-group-item"><span class="placeholder col-12"></span></li>
                    <li class="list-group-item"><span class="placeholder col-12"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock content%}
